<div class="col-sm-12 col-md-12">

    <div class="my-box-flat">
        <div class="w-box my-box">
            <div class="w-box-header">
                <span class="icon bro"></span>
                系统公告
                <div class="pull-right"></div>
            </div>
            <div class="w-box-content cnt_a">
                <ul>
                    <li style="text-indent: 2em">
                         综合服务平台上线了，
                        现阶段只提供数据接收与下载功能。
                    
                        <br/>
                        <div class="pull-right">2014-04-25</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="index-body">

    </div>

</div>