/**********************************/
/*   htc                          */
/**********************************/
.MonthNavi {behavior:url(/thunderreport/include/htc/MonthNavi.htc);}
.YearNavi {behavior:url(/thunderreport/include/htc/FiveYearNavi.htc);}
.HalfYearNavi {behavior:url(/thunderreport/include/htc/HalfYearNavi.htc);}
.QuarterNavi {behavior:url(/thunderreport/include/htc/QuarterNavi.htc);}
.PeriodNavi {behavior:url(/thunderreport/include/htc/PeriodNavi.htc);}
.YearMonthNavi{behavior:url(/thunderreport/include/htc/coolimgselect.htc);}
.MonthPicker {behavior :url(/thunderreport/include/htc/MonthPicker.htc);}
.CommonSelect {behavior :url(/thunderreport/include/htc/CommonSelect.htc);}
.TreeSelect {behavior :url(/thunderreport/include/htc/TreeSelect.htc);}
.Menu {behavior:url(/thunderreport/include/htc/menu.htc);}
.pgnavibar{behavior:url(/thunderreport/include/htc/pgnavibar.htc);}
.dynaload{behavior:url(/thunderreport/include/htc/dynaload.htc);}
.TimePick{
 behavior: url(/thunderreport/include/htc/TimePick.htc);
 width:88px;
 display:inline;
 font-family:"宋体";
 font-size:12px;
}
/**********************************/
/*   base tag                     */
/**********************************/
html{
	margin:0px;
	font: 12px; 
	background1: #eeeeee;
	font-family: Arial,宋体,Arial,Sans-serif;
	line-height: 18px;
} 
body{
	margin:1px;
	font-family: "宋体";
	font-size: 12px;
	SCROLLBAR-FACE-COLOR:#ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #3874c8; 
	SCROLLBAR-SHADOW-COLOR: #3874c8; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #3874c8; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
div{
	SCROLLBAR-FACE-COLOR:#ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #3874c8; 
	SCROLLBAR-SHADOW-COLOR: #3874c8; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #3874c8; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
td{
	font-family: "宋体";
	font-size: 12px;
}
input{
	font-family: "宋体";
	font-size: 12px;
}
input{
   	border:expression(this.type=="text"||this.type=="button"||this.type=="submit"?"1px solid graytext":"style");
}
textarea{
	font-family: "宋体";
	font-size: 12px;
	border:1px solid graytext;	
}
select{
	font-family: "宋体";
	font-size: 12px;
	border:1px solid graytext;
}
A:link
{
    COLOR: #004a9c;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #377cbd;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #f00;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #004a9c;
    TEXT-DECORATION: none
}
DL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
DD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
/**********************************/
/*   component                    */
/**********************************/

/**********************************/
/*   info top                     */
/**********************************/
.infobrtd{
	padding-top:5px;
}
/**********************************/
/*      timepick                  */
/**********************************/
.TimePick .TimeInputs{
 background:#fff;
 border:1px solid #ccc;
 margin-right:1px;
 height:14px;
 float:left;
}
.TimePick .TimeButtons{
 width:16px;
 float:left;
 height:14px;
 border:1px solid rgb(241, 241, 241);
}

.TimePick .TimerInput{
 border:0px;
 text-align:center;
 font-family:"宋体";
 font-size:12px;
 height:14px;
}
.TimePick .TimerButton{
	width: 16px;
	height: 7px;
	font-family: "Webdings";
	font-size: 7px;
	line-height: 2px;
	padding-left: 2px;
	cursor: hand;
	border-width:1px;
}
/**********************************/
/*       ui_edit                  */
/**********************************/
.tabForm { 
	border: 1px solid rgb(187, 187, 187); 
	padding: 12px; 
	background-color: rgb(241, 241, 241); 
}
.dataLabel { vertical-align: top; }
.dataField { padding: 1px; font-weight: normal; vertical-align: top; }
/**********************************/
/*        xloadtree dialog        */
/**********************************/
.treerighttd{
	font-family: "宋体";
	font-size: 12px;
	border:1px solid graytext;
}

/*********************************/
/* menu                          */
/*********************************/
.NormalMenu{
	display:inline-block;
	border:1px solid #666666;
	padding:4px;
	cursor:hand;
}
.MenuSplitter{
	border-bottom:1px solid #666666;
	padding:0px;
}

.ActiveMenu{
	display:inline-block;
	border:1px solid #666666;
	padding:4px;
	border-bottom:1px solid #eeeeee;
	background-color:#eeeeee;
	cursor:hand;
}
/* ----------------------------- */
/* datagrid                      */
/* ------------------------------*/
.gridtdtitle{
	font-family: "宋体";
	font-size: 12px;
	border:1px solid graytext;
	background-color: rgb(241, 241, 241); 
}
.gridtd{
	font-family: "宋体";
	font-size: 12px;
	border:1px solid graytext;
}
.grid_odd_row{
	background:"#FFFFCC";
}
.grid_even_row{
	background:"#E8EEF7";
}
		#navlist {
        padding: 3px 0;
        margin-left: 0;
		margin-top: 3px;
        border-bottom: 1px solid #778;
        font: bold 12px Verdana, sans-serif;
}
/* ----------------------------- */
/* multipage                     */
/* ------------------------------*/
#navlist li {
        list-style: none;
        margin: 0;
        display: inline;
}

#navlist li a {
        padding: 3px 0.5em;
        margin-left: 3px;
        border: 1px solid #778;
        border-bottom: none;
        background: #DDE;
        text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }
#navlist li a:hover {
        color: #000;
        background: #AAE;
        border-color: #227;
}
#navlist li a#current {
        background: white;
        border-bottom: 1px solid white; 
         }
/* ----------------------------- */
/* infobox                       */
/* ------------------------------*/

.infoBoxblank
 {
  border-width:0px 0px 1px 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: #808080;
  height:25px
 }
 .infoBoxtriangle{
    border-width: 1px 0px 1px 1px;
    border-color: #808080;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    background-color: #CCCCCC;
    font-size:80%;
    font-family:webdings;
    color:white;
    cursor:hand;
    width: 10px;  
	height:25px
  }
.infoBoxtitle{
    border-width: 1px 1px 1px 0px;
    border-color: #808080;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    background-color: #CCCCCC;
    width: 80px;  
	height:25px
  }
.infoBoxoprAttr{
  border-width:0px 0px 1px 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: #808080;
  width: 45px;  
  height:25px
}
.infoBoxContent{
	margin-top: 5px;		
}
.ActiveHtc{
	border-left:1px solid buttonshadow;
	border-top:1px solid buttonshadow;
	border-right:1px solid buttonhighlight;
	border-bottom:1px solid buttonshadow;
}

.ActiveMonth{ 
	border-left:1px solid buttonshadow;
	border-top :1px solid buttonshadow;
	border-right :1px solid buttonhighlight;
	border-bottom :1px solid buttonshadow;
	COLOR: #fff;
	background-color: #E20733;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	font-family: "宋体";
	font-size: 12px;
	FONT-WEIGHT: normal;
}

.NormalMonth{
	FONT-WEIGHT: normal;
	COLOR: #000000;
	PADDING-TOP: 2px;
	font-family: "宋体";
	font-size: 12px;
	background-color: #CDD3ED;
	text-decoration: none;
	padding-right: 3px;
	vertical-align: bottom;
	padding-left: 3px;
	padding-bottom: 2px;
	cursor:hand;
}

.NormalMenu{
	display:inline-block;
	border:1px solid #666666;
	padding:4px;
}
.MenuSplitter{
	border-bottom:1px solid #666666;
	padding:0px;
}

.ActiveMenu{
	display:inline-block;
	border:1px solid #666666;
	padding:4px;
	border-bottom:1px solid #eeeeee;
	background-color:#eeeeee;
}
.NormalHtc{cursor:hand;}
.WaitingDiv{
	float:left;
	width:300px;
	height:200px;
	padding-top:10px;
	padding-left:20px"
}
