


/*菜单样式表————浅色*/
div#menu {
    height:35px;
    background: url(../images_bmg02/xt_menu_bg.jpg) repeat-x;
    
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
	
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 33px;
    left:3px;
    width: 208px;
    z-index: 11;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    background: url(../images_menu/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(../images_menu/submenu-bottom.gif);
    /*margin: 0 0 0 -10px;
	*margin: 0 0 0 -12px;*/
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
    height: 29px;
	line-height: 29px;
    display: block;
    float: left;	
    padding: 0 15px;    
    text-decoration: none;	
	margin-top:5px;
}
div#menu a:hover{ background: url(../images_bmg02/xt_menu_hover.jpg) no-repeat;}
div#menu span {
	font-size:14px;    
   
    color: #204383;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
    color: #70419f;
}

div#menu li { /*background: url(../images_menu/nav_separator.png) top left no-repeat; */}
div#menu li.last span{
    /*background: url(../images_menu/nav_separator.png) top right no-repeat;*/
    padding: 10px 10px 16px 0;
}

/* menu::level2 */
div#menu ul ul li {
    background: url(../images_menu/nav_dropdown_sep.gif) left bottom repeat-x;
    padding: 4px 0;
    z-index: 9;	
}
div#menu ul ul {
    z-index: 12;	
    padding: 0;
    background: rgb(226,226,226) url(../images_menu/nav_dropdown_grad.png) right top no-repeat;
    margin-top:0px;
    margin-left:4px;
    margin-right:5px;
}
div#menu ul ul a {
  	width: 184px;
	padding: 0px 7px 0px 8px;
    height: auto;
    float: none;
    display: block;
    background:none;
    /*margin-bottom: 2px;*/
    z-index: -1;
	margin-top:0;
}
div#menu ul ul a span {
	  padding: 0 10px 0px 10px;
    line-height: 20px;
    color: #204383;
    font-weight:normal;
    text-transform: none;
    background:none;
	font-size:12px;
	 
}
div#menu ul ul a:hover {
	background-image:none;
    /*background: url(../images_menu/submenu-selected-bottom.gif) no-repeat 8px bottom;*/
}
div#menu ul ul a:hover span {
    /*background: url(../images_menu/submenu-selected-top.gif) no-repeat 0px 0px;*/
    color: #70419f;
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -35px 0 0 203px;			
    height: auto;
    /*_padding: 0 0 9px 3px;*/	
}

div#menu ul ul div.menu_level03{}
div#menu ul ul ul li div {
	_padding-right:1px;
}

div#menu ul ul div{}
/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}

div#menu li.space{ width:2px; height:35px;background: url(../images_bmg02/xt_menu_space.jpg) no-repeat center 13px; margin:0 8px; }
div#menu ul ul li{background: url(../images_bmg02/xt_sub_list.jpg) repeat-x; margin-top:1px; border-bottom:solid 1px #a9bfd3; padding:3px 0;}

div#menu ul ul{ background:#fff; /*margin:0 2px;*/ margin:0; border:solid 1px #aec5e4;}
div#menu li div{ background:#fff; padding:0 0 0px; }


















