.tree_item
	{color: #000000; text-decoration: none; font-family: Tahoma, Verdana; font-size: 12px}

body{
	font-family: "宋体";
	SCROLLBAR-FACE-COLOR: #DFEAFA;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #9AB8E7;
	SCROLLBAR-3DLIGHT-COLOR: #9AB8E7;
	SCROLLBAR-ARROW-COLOR: #9AB8E7;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: #FCFCFC;
	SCROLLBAR-BASE-COLOR: #ffffff;	
}
