<div class="col-sm-12 col-md-12">
  
 
<script>

 

	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true // maintain when user navigates (see docs on the renderEvent method)
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


		/* initialize the calendar
		-----------------------------------------------------------------*/

// 		$('#calendar').fullCalendar({
// 			header: {
// 				left: 'prev,next',
// 				center: 'title',
// 				right: 'month,agendaWeek'
// 			},
// 			lang: 'zh-cn',
// 			eventColor:'#333333',
// 			eventLimit: true, 
// 			buttonIcons: false,
// 			allDaySlot : true,
// 			slotMinutes :'60',
// 			firstHour : '8',
// 			slotEventOverlap:'true',
// 			weekMode : 'liquid',
// 			editable: true,
// 			droppable: true, // this allows things to be dropped onto the calendar
// 			drop: function() {
				 
// 				console.log('drop'+this.id);//div 的id
// 				// is the "remove after drop" checkbox checked?
// // 				if ($('#drop-remove').is(':checked')) {
// // 					// if so, remove the element from the "Draggable Events" list
// // 					$(this).remove();
// // 				}
// 			},
// 			dayClick: function() { 
// 				console.log('a day has been clicked!'); 
// 			},
// 			eventClick: function(event, jsEvent, view) {
// 				console.log('an event has been clicked!'); 
// 			},
// 			eventAfterRender:function( event, element, view ) { 
				 
				
// 				console.log('eventAfterRender');
				
// 			},
// 			eventRender :function(calEvent, element, view){
// 				console.log('eventRender');
// 			} 
// 		});


	});

</script>
<style>

 
		
	#wrap {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 120px;
		padding: 0 20px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		float: right;
		width: 900px;
	}

</style>
 
 
	<div id='wrap'>

		<div id='external-events'>
			<h4>医生列表</h4>
			<div class='fc-event' id="yishengid1"><span calss="121212" id="yishengid1" name="yishengid1">王思聪</span></div>
			<div class='fc-event' id="yishengid2"><span  calss="131312" name="yishengid2">李牡蒿</span></div>
		 

		</div>

		<div id='calendar'></div>

		<div style='clear:both'></div>
		<br>
        <div class="modal-footer">
              <button type="submit" class="btn btn-primary"    ng-click="saveSchedule()">保存</button>
              <button type="button" class="btn btn-danger"     ng-click="clearSchedule()">重置</button>
              
              
          </div>

	</div>
 

</div>

 

 

 
 