<div class="col-sm-12 col-md-12">
  
 
<script>

 

	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true // maintain when user navigates (see docs on the renderEvent method)
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


	 


	});

</script>
<style>

 
		
 
	#external-events {
		float: center;
		width: 120px;
		padding: 0 20px;
		border: 1px solid #ccc;
		 
		text-align: left;
		background-color: rgba(6, 32, 48, 0.7);
        border-right: 1px solid #8D9BA6;
		
	}
		
 
		
	#external-events .fc-event {
		margin: 20px 0;
		cursor: pointer;
color: #000;
background-color: #357EBD;
border-color: #285E8E;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #7D94C3;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}
 
	 .nav > li {
    color: #7D94C3; 
    }
    .nav-tabs {
    border-bottom: 1px solid #0B2B41;
}

</style>
 
 
	<div class="container">
   <div class="row">

      <div class="col-md-2" >
         <div class="row">
          
         </div>
        <div class="row">
            <div style="padding:  30px 0px 0px 20px;" class="main-menu-span" >
                <div id='external-events' class="well nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                <li class="nav-header hidden-tablet" > 医生  </li>
                <li style="margin-left: -2px;" ng-repeat="item in doctors" ng-click="clickOnUser(item.orderId,item.orderUserId)" class="ng-scope">
						      <span class='fc-event'> <i class="icon-white-user">  </i>{{item.doctorName}} </span>
						</li>
                </ul>
					 
		
				</div>
            </div>
         </div>
         <br><br><br>
             	<div class="modal-footer" style="padding:0  20px;">
							
				</div>
				<br><br>
         <div class="row" >
	         <div class="row" style="padding:0  0 0  60px;">
	                                            排班时间: 
	         </div>
	        <div class="row"  >
			         <div class="col-sm-5" ><input class="form-control" id="single-input_s" value="09:00" > </div>
			         <div class="col-sm-5" ><input class="form-control" id="single-input_e" value="17:00"></div>
	         </div>
	                            

					
             
         </div>
          <br><br><br><br> 
             	<div class="modal-footer">
							
				</div> 
          <div class="row"  >
             
                <button type="submit" class="btn btn-primary"    ng-click="saveCalendar()"  >保存排班</button> 
            
         </div>
      </div>

      <div class="col-md-10" >
         
            <div id='calendar'></div>

      </div>

   </div>
	 

	</div>
 

</div>

 

 

 
 