<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="cls1 cls2">

    list = [
        {id , name...}
        {id , name...}
        {id , name...}
    ]

    <table>
        <tbody>
        <tr ng-repeat="item in list">
            <td>{{item.name}}</td>
            <td><input type="text" ng-model="item.id" class="form-control"/></td>
        </tr>
        </tbody>
    </table>


    
</div>

</body>
</html>