<!DOCTYPE html>
<html>
<head>
    <title>测试框架</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div>菜单：</div>
<div>
    <ul>
        <li ng-repeat="top in menu">
            <a href="{{top.route}}">{{top.name}}</a>
            <ul ng-if="top.children.length">
                <li ng-repeat="sub in top.children">
                    <a href="{{sub.route}}">{{sub.name}}</a>
                    <ul ng-if="sub.children.length">
                        <li ng-repeat="item in sub.children"><a href="{{item.route}}">{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>


<div>视图：</div>
<div ng-view></div>

<script src="../base/jquery.min.js"></script>
<script src="../base/angular-1.2.9/angular.min.js"></script>
<script src="../base/angular-1.2.9/angular-route.min.js"></script>
<script src="../seajs/2.2.0/seajs/sea.js" id="seajsnode"></script>
<script>
    seajs.use('examples/scripts/initialize');
</script>
</body>
</html>