<!DOCTYPE html>
<html ng-app="test">
<head>
    <title>re password test</title>
</head>
<body ng-controller="testCtrl">

<form name="test" novalidate="novalidate">
    <ul>
        <li>password : <input type="password" name="p1" equals="p2" ng-model="p1"/></li>
        <li>re password : <input type="password" name="p2" equals="p1" ng-model="p2"/></li>
    </ul>
    {{test.p1.$valid}}
    {{test.p2.$valid}}
    {{test.p2.$error}}
</form>
<pre>
    test : {{p1}} === {{p2}}
    result : {{p1 === p2}}
</pre>


<script src="../base/jquery-1.10.1.min.js"></script>
<script src="../base/angular-1.2.15/angular.js"></script>
<script>
    var test = angular.module('test', []);

    test.directive('equals', function () {
        return {
            restrict: 'A',
            require: "?ngModel",
            link: function (scope, el, attr, ctrl) {
                if (!ctrl) return;
                var validator = function () {
                    var equals = scope.$eval(attr.equals),
                            model = scope.$eval(attr.ngModel),
                            valid = angular.equals(equals, model);
                    ctrl.$setValidity('equals', valid);
                    return valid ? model : undefined;
                };

                scope.$watch(attr.equals + ' + ' + attr.ngModel, validator);
            }
        }
    });

    test.controller('testCtrl', function ($scope) {

    });
</script>
</body>
</html>