<!-- 查看对话框 -->
<div class="modal fade" id="seeDialog" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">查看</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">项目需求</a></li>
                            <li class=""><a data-toggle="tab" href="#tab2">过程管理</a></li>
                            <li class=""><a data-toggle="tab" href="#tab3">成果管理</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active">
                                <table class="table table-striped table-bordered table-condensed">
                                    <colgroup>
                                        <col style="width: 100px;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr class="rowlink">
                                        <td>需求编号</td>
                                        <td>需求编号in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求名称</td>
                                        <td>需求名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求类型</td>
                                        <td>需求分析in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>专题名称</td>
                                        <td>专题名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>项目申请单位</td>
                                        <td>项目申请单位in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>数据申请联系人</td>
                                        <td>张三</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>数据申请联系人电话</td>
                                        <td>2014-03-05</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>数据申请联系人邮箱</td>
                                        <td>汉典居</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>安全级别</td>
                                        <td>公开</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>紧急程度</td>
                                        <td>一般</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>数据来源</td>
                                        <td>自有业务系统</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求描述</td>
                                        <td>小李子。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求文档</td>
                                        <td>
                                            <a href="javascript:">文件1.docx</a>
                                            <a href="javascript:">文件1.docx</a>
                                        </td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求确认附件</td>
                                        <td><a href="javascript:">需求确认订单.jpg</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <table class="table table-striped table-bordered table-condensed">
                                    <tbody>
                                    <tr class="rowlink">
                                        <td>项目编号</td>
                                        <td>项目编号in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>项目名称</td>
                                        <td>项目名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求名称</td>
                                        <td>需求名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>立项人</td>
                                        <td>张三</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>执行人</td>
                                        <td>小白</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>项目描述</td>
                                        <td>小白：这个项目xxxxxx。。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求量化附件</td>
                                        <td>
                                            <a href="javascript:">文件1.docx</a>
                                            <a href="javascript:">文件1.docx</a>
                                        </td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>数据质量报告</td>
                                        <td><a href="javascript:">数据质量报告.jpg</a></td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>分析模型</td>
                                        <td>
                                            <a href="javascript:">数据结构说明.docx</a>
                                            <a href="javascript:">分析设计文档.docx</a>
                                            <a href="javascript:">分析执行sql脚本.sql</a>
                                        </td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>成果测试</td>
                                        <td>
                                            <a href="javascript:">测试报告.docx</a>
                                            <a href="javascript:">测试结论.docx</a>
                                        </td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>项目结果</td>
                                        <td><a href="javascript:">结果确认订单.jpg</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <table class="table table-striped table-bordered table-condensed">
                                    <tbody>
                                    <tr class="rowlink">
                                        <td>成果编号</td>
                                        <td>成果编号in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>成果名称</td>
                                        <td>成果名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>需求名称</td>
                                        <td>需求名称in。。。</td>
                                    </tr>
                                    <tr class="rowlink">
                                        <td>权限配置</td>
                                        <td>张三</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div><!-- /.modal -->