<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dasp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/dasp.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="dataProcessAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dataProcess.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/dataProcess.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.idap.dataprocess" level="INFO" additivity="true">
		<appender-ref ref="dataProcessAppender" />
	</logger>

	<!-- project default level -->
	<logger name="org.quartz" level="ERROR" additivity="true" />
	<logger name="com" level="INFO" additivity="true" />
	<logger name="org.mybatis" level="ERROR" additivity="true" />
	<!-- <logger name="org.springframework" level="ERROR" /> -->
	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" additivity="true" />
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>