<div class="col-sm-12 col-md-12">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<form class="form-custom clearfix">
				<div class="col-sm-2 col-md-2">
					<label>
						业务名称
					</label>
					<select class="form-control" select2 ng-model="params.systemName"
						ng-options="item.name as item.name for item in busiList">
						<option value="">
							请选择
						</option>
					</select>
				</div>
				<div class="col-sm-2 col-md-2">
					<label>
						表中文名
					</label>
					<input class="form-control" type="text"
						ng-model="params.tableNameCh" />
				</div>

				<div class="col-sm-2 col-md-2" ng-show="USER_INFO.provCode=='99'">
					<label>
						省份
					</label>
					<select class="form-control" select2 data-live-search="true"
						ng-model="params.dataProvince"
						ng-options="item.name as item.name for item in provList">
						<option value="">
							请选择
						</option>
					</select>
				</div>
				<div class="col-sm-3 col-md-3">
					<label>
						业务数据日期
					</label>
					<div data-datetimepicker range start="params.startTime"
						end="params.endTime"></div>
				</div>
				<div class="col-sm-2 col-md-2">
					<label>
						&nbsp;
					</label>
					<button class="btn btn-custom" type="submit"
						ng-click="refresh('first' , true)">
						查询
					</button>
				</div>
			</form>
		</div>
	</div>

	<table
		class="table table-striped table-bordered table-condensed index-center table-costom">
		<thead>
			<tr>
				<th>
					序号
				</th>
				<th style="width: 72px;">
					业务名称
				</th>
				<th style="width: 65px;" ng-show="USER_INFO.provCode=='99'">
					省份
				</th>
				<th>
					表中文名
				</th>
				<th>
					表英文名
				</th>
				<th style="width: 45px;">
					频度
				</th>
				<th style="width: 105px;">
					业务数据日期
				</th>
				<th style="width: 115px;">
					发送数据时间
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="rowlink" ng-repeat="item in limitArr">
				<td>
					{{$index+1+current*limit}}
				</td>
				<td>
					{{item.systemName}}
				</td>
				<td ng-show="USER_INFO.provCode=='99'">
					{{item.dataProvince}}
				</td>
				<td>
					{{item.tableNameCh}}
				</td>
				<td>
					{{item.tableNameEn}}
				</td>
				<td>
					{{item.dataSentFreq}}
				</td>
				<td>
					{{item.businessDate | date:'yyyy-MM-dd'}}
				</td>
				<td>
					{{item.sendDate| date:'yyyy-MM-dd'}}
				</td>
			</tr>
		</tbody>
	</table>

	<div data-remote-paging="pager" data-refresh="refresh"
		data-current="current" data-total="total" data-data="limitArr"
		data-limit="limit" data-params="params"></div>
</div>