<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link type="text/css" rel="stylesheet" href="css/ext-all.css" />
<link type="text/css" rel="stylesheet" href="css/report.css" />

<SCRIPT LANGUAGE="Javascript" SRC="fusionchart/FusionCharts.js"></SCRIPT>
<SCRIPT LANGUAGE="Javascript" SRC="include/js/p.js"></SCRIPT>
<script language="javascript">

	var xmlDoc;
     var sumdata='empty';
     var chartdata='empty';
	function updateChart(domId,check_name,other_params,cond_name, cond_value)
	{
		if (xmlDoc!=null){
			
			var xml2 = xmlDoc.responseText;
			var cks1 = document.getElementsByName(check_name);
			
			var xDoc = new ActiveXObject("Microsoft.XMLDOM");
			xDoc.loadXML(xml2);
			var j = xDoc.selectNodes("/chart/dataset").length;
			
			var names = [];
			// 如果为true表示图形折线数随着checkbox选择变化，可以在client处理；如果为false则必须提交服务器处理
			var isclient = false;
			for(var i =0;i<cks1.length; i++){
				if (cks1[i].checked == false){
					var name = cks1[i].text;
					names=names.concat([name]);
				}
				
				for(var k=0; k<j; k++){
					var node = xDoc.selectNodes("/chart/dataset")[k];
					if (cks1[i].text==node.getAttribute("seriesName")){
						isclient = true;
						break;
					}
				}
			}
			
			if (isclient==true){
			
				var nodes = [];
				for(var i=0; i<j; i++){
					var node = xDoc.selectNodes("/chart/dataset")[i];
					
					for (var k=0; k<names.length; k++){
						if (node.getAttribute("seriesName")==names[k]){
							nodes = nodes.concat([node]);
							break;
						}
					}
				}
				
				for (var i=0; i<nodes.length; i++)
					xDoc.selectNodes("/chart")[0].removeChild(nodes[i]);
				var chartObj = getChartFromId(domId);
				chartObj.setDataXML(xDoc.xml);
				xDoc = null;
				
				var cks = document.getElementsByName(check_name);
 				for(var i =0;i<cks.length; i++){
 					cks[i].disabled=false;
				}
				document.getElementsByName("nonebox")[0].checked=false;
				document.getElementsByName("nonebox")[0].disabled=false;
				if(document.getElementsByName("sumbox")){
					document.getElementsByName("sumbox")[0].checked=false;
				}
				return;
			
			}
		}
		
		var cksn = document.getElementsByName(check_name);
 		for(var i =0;i<cksn.length; i++)
			cksn[i].disabled=true;
		var n=$('nonebox');
		n.disabled=true;
		//if(document.getElementsByName("sumbox")!=null){
		//	document.getElementsByName("sumbox")[0].disabled=true;
		//}
		try
		{
			var cp="";
 			var cv="";
 			var cpall="";
 			var cvall="";
 			if (check_name!="" && cond_name!=undefined && cond_value!=undefined)
 			{
 				var cks = document.getElementsByName(check_name);
 				for(var i =0;i<cks.length; i++)
 				{
   					if (cks[i].checked)
   					{
						cp+=cks[i].value+",";
						cv+=cks[i].text+",";
					}
					cpall+=cks[i].value+",";
					cvall+=cks[i].text+",";
				}
				cp=cond_name+"="+cp;
				cv=cond_value+"="+cv;
				cpall=cond_name+"="+cpall;
				cvall=cond_value+"="+cvall;
			}
            var other_paramsall=other_params;
			if (cp!=""&& cv!="")
				other_params = other_params+"&"+cp+"&"+cv;

			var chartObj = getChartFromId(domId);
			
			var url = other_params.substring(0,other_params.indexOf("?"));
			var para = other_params.substring(url.length+1,other_params.length);
			if (cpall!=""&& cvall!=""){
				other_paramsall = other_paramsall+"&"+cpall+"&"+cvall;
			}
			var urlall = other_paramsall.substring(0,other_paramsall.indexOf("?"));
			var paraall = other_paramsall.substring(urlall.length+1,other_paramsall.length);
		  if(document.getElementById('sumbox')!=null){
		      if(chartdata=='empty'){
		    	var ajaxx = new Ajax.Request(
				url,
					{
						method:'post',
						parameters:paraall,
						requestHeaders:['content','application/text', 'charset','utf-8'],
						onComplete:function(res){
								//xmlDoc = res;
								chartdata=res.responseText;
								//chartObj.setDataXML(res.responseText);
								var modifiedstr='';
								var pcount=0;
	                            var dataarr=chartdata.split('<dataset');
	                            if(dataarr.length>1){
	                                var paracheck=cv.split('=')[0];
		 	                        var parastr=para.split(paracheck+'=')[1];
		 	                        var paraarr=parastr.split(',');
			                        modifiedstr=dataarr[0];
			                        var comparestr;
	                                for (var j=1;j<dataarr.length;j++){
	                                  comparestr=dataarr[j].split('">')[0].split('seriesName="')[1];
			                          if(comparestr.split('"').length>1){
			                             comparestr=comparestr.split('"')[0];
			                          }
			                          dataarr[j]='<dataset '+dataarr[j];
			                          if(j==dataarr.length-1){
			                             dataarr[j]=dataarr[j].split('</chart>')[0];
			                          }
			                          for(var k=0;k<paraarr.length-1;k++){
			                             if((paraarr[k]==comparestr)){
			                                modifiedstr=modifiedstr+dataarr[j];
			                                pcount++;
			                             }
			                          }
	                                }
	                                if(modifiedstr.split('<set value').length==1){
	                                  modifiedstr=modifiedstr.split('<categories')[0];
	                                }
	                                modifiedstr=modifiedstr+'</chart>';
	                                if(pcount==0){
	                                    var ajaxx = new Ajax.Request(
				                           url,
					                        {
						                       method:'post',
						                       parameters:para,
						                       requestHeaders:['content','application/text', 'charset','utf-8'],
						                       onComplete:function(res){
								               //xmlDoc = res;
							                   chartObj.setDataXML(res.responseText);
						                       }
					                       }
			                           );
	                                }else{
	                                   chartObj.setDataXML(modifiedstr);
	                                }
	                            }else{
	                               chartObj.setDataXML(chartdata);
	                            }
	                            
								var cks = document.getElementsByName(check_name);
 								for(var i =0;i<cks.length; i++)
 									cks[i].disabled=false;
 								var n = $("nonebox");
 								n.disabled=false;
 								document.getElementsByName("nonebox")[0].checked=false;
 								if(document.getElementById("sumbox")!=null){
 									document.getElementsByName("sumbox")[0].checked=false;
 									document.getElementsByName("sumbox")[0].disabled=false;
 								}
						}
					}
			     );  
			  }else{
			  var modifiedstr='';
		            var pcount=0;
	                var dataarr=chartdata.split('<dataset');
	                if(dataarr.length>1){
	                  var paracheck=cv.split('=')[0];
		 	          var parastr=para.split(paracheck+'=')[1];
		 	          var paraarr=parastr.split(',');
			          modifiedstr=dataarr[0];
			          var comparestr;
	                  for (var j=1;j<dataarr.length;j++){
	                     comparestr=dataarr[j].split('">')[0].split('seriesName="')[1];
			             if(comparestr.split('"').length>1){
			                comparestr=comparestr.split('"')[0];
			             }
			             dataarr[j]='<dataset '+dataarr[j];
			             if(j==dataarr.length-1){
			                dataarr[j]=dataarr[j].split('</chart>')[0];
			             }
			            
			             for(var k=0;k<paraarr.length-1;k++){
			                if((paraarr[k]==comparestr)){
			                   modifiedstr=modifiedstr+dataarr[j];
			                   pcount++;
			                }
			             }
	                   }
	                   
	                   if(modifiedstr.split('<set value').length==1){
	                     modifiedstr=modifiedstr.split('<categories')[0];
	                   }
	                   modifiedstr=modifiedstr+'</chart>';
	                   if(pcount==0){
	                      var ajaxx = new Ajax.Request(
				          url,
					        {
						      method:'post',
						      parameters:para,
						      requestHeaders:['content','application/text', 'charset','utf-8'],
						      onComplete:function(res){
								//xmlDoc = res;
							  chartObj.setDataXML(res.responseText);
						      }
					        }
			            );
	                   }else{
	                     chartObj.setDataXML(modifiedstr);
	                   }
	                  
	                   var cks = document.getElementsByName(check_name);
 					　　for(var i =0;i<cks.length; i++)
 						　cks[i].disabled=false;
 					　　var n = $("nonebox");
 					　　n.disabled=false;
 					　　document.getElementsByName("nonebox")[0].checked=false;
 					　　if(document.getElementById("sumbox")){
 							document.getElementsByName("sumbox")[0].checked=false;
 							document.getElementsByName("sumbox")[0].disabled=false;
 						} 
	                }else{
	                  chartObj.setDataXML(chartdata);
	                  var cks = document.getElementsByName(check_name);
 					　　for(var i =0;i<cks.length; i++)
 						　cks[i].disabled=false;
 					　　var n = $("nonebox");
 					　　n.disabled=false;
 					　　document.getElementsByName("nonebox")[0].checked=false;
 					　　if(document.getElementById("sumbox")){
 							document.getElementsByName("sumbox")[0].checked=false;
 							document.getElementsByName("sumbox")[0].disabled=false;
 						} 
	                }
			     
			  }
		  }else if(document.getElementById('sumbox')==null){
		     if(chartdata=='empty'){
		    	var ajaxx = new Ajax.Request(
				url,
					{
						method:'post',
						parameters:para,
						requestHeaders:['content','application/text', 'charset','utf-8'],
						onComplete:function(res){
								//xmlDoc = res;
								chartdata=res.responseText;
								chartObj.setDataXML(chartdata);
								var cks = document.getElementsByName(check_name);
 								for(var i =0;i<cks.length; i++)
 									cks[i].disabled=false;
 								var n = $("nonebox");
 								n.disabled=false;
 								document.getElementsByName("nonebox")[0].checked=false;
 								if(document.getElementById("sumbox")!=null){
 									document.getElementsByName("sumbox")[0].checked=false;
 									document.getElementsByName("sumbox")[0].disabled=false;
 								}
						}
					}
			     );
			  }else{
			        var modifiedstr='';
		            var pcount=0;
	                var dataarr=chartdata.split('<dataset');
	                if(dataarr.length>1){
	                  var paracheck=cv.split('=')[0];
		 	          var parastr=para.split(paracheck+'=')[1];
		 	          var paraarr=parastr.split(',');
			          modifiedstr=dataarr[0];
			          var comparestr;
	                  for (var j=1;j<dataarr.length;j++){
	                     comparestr=dataarr[j].split('">')[0].split('seriesName="')[1];
			             if(comparestr.split('"').length>1){
			                comparestr=comparestr.split('"')[0];
			             }
			             dataarr[j]='<dataset '+dataarr[j];
			             if(j==dataarr.length-1){
			                dataarr[j]=dataarr[j].split('</chart>')[0];
			             }
			             for(var k=0;k<paraarr.length-1;k++){
			                if((paraarr[k]==comparestr)){
			                   modifiedstr=modifiedstr+dataarr[j];
			                   pcount++;
			                }
			             }
	                   }
	                   
	                   if(modifiedstr.split('<set value').length==1){
	                     modifiedstr=modifiedstr.split('<categories')[0];
	                   }
	                   modifiedstr=modifiedstr+'</chart>';
	                   if(pcount==0){
	                      var ajaxx = new Ajax.Request(
				          url,
					        {
						      method:'post',
						      parameters:para,
						      requestHeaders:['content','application/text', 'charset','utf-8'],
						      onComplete:function(res){
								//xmlDoc = res;
							  chartObj.setDataXML(res.responseText);
						      }
					        }
			            );
	                   }else{
	                     chartObj.setDataXML(modifiedstr);
	                   }
	                  
	                   var cks = document.getElementsByName(check_name);
 					　　for(var i =0;i<cks.length; i++)
 						　cks[i].disabled=false;
 					　　var n = $("nonebox");
 					　　n.disabled=false;
 					　　document.getElementsByName("nonebox")[0].checked=false;
 					　　if(document.getElementById("sumbox")){
 							document.getElementsByName("sumbox")[0].checked=false;
 							document.getElementsByName("sumbox")[0].disabled=false;
 						} 
	                }else{
	                   chartObj.setDataXML(chartdata);
	                  var cks = document.getElementsByName(check_name);
 					　　for(var i =0;i<cks.length; i++)
 						　cks[i].disabled=false;
 					　　var n = $("nonebox");
 					　　n.disabled=false;
 					　　document.getElementsByName("nonebox")[0].checked=false;
 					　　if(document.getElementById("sumbox")){
 							document.getElementsByName("sumbox")[0].checked=false;
 							document.getElementsByName("sumbox")[0].disabled=false;
 						} 
	                }
	                
			  }
		  }
			
		}catch(e)
		{
			document.getElementById("tablex").style.display="none";
			document.getElementById("spanx").style.display="";
		}
	}
	
	function selectNonde(check_name, domId){
		var cks = document.getElementsByName(check_name);
 		for(var i =0;i<cks.length; i++)
 			cks[i].checked = false;
 			
 		if(document.all("sumbox")){
 			document.all("sumbox").checked=false;
 		}
 		var chart = getChartFromId(domId);
 		chart.setDataXML("<chart></chart>");
	}
	function selectSumNode1(check_name, domId, url){
	    var ctl=document.getElementById("sumbox");
	    
        if(ctl.checked==false){
           var chart11 = getChartFromId(domId);
          chart11.setDataXML("<chart></chart>");
 								
      	}else{
 		var cks = document.getElementsByName(check_name);
 		for(var i =0;i<cks.length; i++){
 			cks[i].checked = false;
 			cks[i].disabled=true;
 		}
 		document.getElementsByName("nonebox")[0].disable=true;
 		var u = url.substring(0,url.indexOf("?"));
 		var p = url.substring(u.length+1,url.length)+"&sum=true";
 		if(sumdata=='empty'){
 		var ajaxx = new Ajax.Request( 
				u,
					{
						method:'post',
						parameters:p,
						requestHeaders:['content','application/text', 'charset','utf-8'],
						onComplete:function(res){
								//xmlDoc = res;
								var chartObj = getChartFromId(domId);
								chartObj.setDataXML(res.responseText);
								var cks = document.getElementsByName(check_name);
 								for(var i =0;i<cks.length; i++){
 									cks[i].disabled=false;
 									cks[i].checked=false;
 								}
 								var n = $("nonebox");
 								n.disabled=false;
 								document.getElementsByName("nonebox")[0].checked=false;
						}
					}
			);
		}else{
		   var chartObj = getChartFromId(domId);
			 chartObj.setDataXML(sumdata);
			 sumchecked=true;
			 var cks = document.getElementsByName(check_name);
 			 for(var i =0;i<cks.length; i++){
 				 cks[i].disabled=false;
 				 cks[i].checked=false;
 			 }
 			 var n = $("nonebox");
 			 n.disabled=false;
 			 document.getElementsByName("nonebox")[0].checked=false;
		}
 		}
	}
	
	function selectSumNode(check_name, domId, url){
		var cks = document.getElementsByName(check_name);
 		for(var i =0;i<cks.length; i++){
 			cks[i].checked = false;
 			cks[i].disabled=true;
 		}
 		document.getElementsByName("nonebox")[0].disable=true;

 		
 		var u = url.substring(0,url.indexOf("?"));
 		var p = url.substring(u.length+1,url.length)+"&sum=true";
 		if(sumdata=='empty'){
 		var ajaxx = new Ajax.Request(
				u,
					{
						method:'post',
						parameters:p,
						requestHeaders:['content','application/text', 'charset','utf-8'],
						onComplete:function(res){
								//xmlDoc = res;
								var chartObj = getChartFromId(domId);
								chartObj.setDataXML(res.responseText);
								var cks = document.getElementsByName(check_name);
 								for(var i =0;i<cks.length; i++){
 									cks[i].disabled=false;
 									cks[i].checked=false;
 								}
 								var n = $("nonebox");
 								n.disabled=false;
 								document.getElementsByName("nonebox")[0].checked=false;
						}
					}
			);
		}else{
		   var chartObj = getChartFromId(domId);
			 chartObj.setDataXML(sumdata);
			 sumchecked=true;
			 var cks = document.getElementsByName(check_name);
 			 for(var i =0;i<cks.length; i++){
 				 cks[i].disabled=false;
 				 cks[i].checked=false;
 			 }
 			 var n = $("nonebox");
 			 n.disabled=false;
 			 document.getElementsByName("nonebox")[0].checked=false;
		}
 		
	}
</script>

</head>
<body>
	<center>
		<span id="spanx" style="display:none">您请求数据出现异常，请右键点击标签页刷新重新尝试。</span>
		<table id="tablex" width="98%" style="display">
			<tr>
				<td><div id="div_$chartid"/>
				</td>
			</tr>
			<tr>
				<td><div id="snone" style="font-size:8pt"><b>
					<input type="checkbox" id="nonebox" name="nonebox" disabled onclick="selectNonde('checkbox_$chartid', '$chartid')">全部不选</input>
					#if ($selected)
						#if ($sumselected)
							<input type="checkbox" id="sumbox" name="sumbox" onclick="selectSumNode1('checkbox_$chartid', '$chartid', '$url')">合计</input>
						#end
					#end 
					$checkbox
				</b></div></td>
				<script LANGUAGE="JavaScript">
						var chart1 = new FusionCharts("fusionchart/ScrollLine2D.swf?LoadDataErrorText=\u6b63\u5728\u52a0\u8f7d\u6570\u636e", "$chartid", "600", "400", "0", "1");		   
						chart1.setTransparent(false);
						chart1.render("div_$chartid");
						#if ($selected)
							#if ($sumselected)
								selectSumNode("checkbox_$chartid", "$chartid", "$url");
							#else
								updateChart("$chartid","checkbox_$chartid","$url");
							#end
						#else
							updateChart("$chartid","checkbox_$chartid","$url");
						#end
						if(document.all("sumbox")){
							document.all("sumbox").checked=true;
							document.all("sumbox").disabled=false;						
						}
						var cks = document.getElementsByName('checkbox_$chartid');
						if (cks.length==0)
						{
							$('snone').hide(); 
						}
				</script>
			</tr>
		</table>
	</center>
</body>
</html>