<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/ThunderReportEZ/css/report.css"/>
<link rel="stylesheet" type="text/css" href="/ThunderReportEZ/css/ext-all.css"/>
<script src="/ThunderReportEZ/include/js/ext-base.js"></script>
<script src="/ThunderReportEZ/include/js/ext-all.js"></script>
<script src="/ThunderReportEZ/include/js/report.js"></script>
<script src="/ThunderReportEZ/WEB-INF/include/reportserver.js"></script>
<style type="text/css">
			.the-table { border:1px solid #bbb;border-collapse:collapse; }
			.the-table td { border:1px solid #ccc;border-collapse:collapse;padding:1px; font: normal 11px arial, helvetica, tahoma, sans-serif}
</style>
</head>
<body>
<div>
$table
</div>
#if($back)
<div id="back" align="center">
<a href="javascript:history.go(-1)"><input onclick="javascript:history.go(-1)" type="button" class="backbutton" title="返回"/></a>
</div>
#end
</body>
</html>
<script>
function mergeTable(srcContainer,desContainer){
	var srcTableColumns = [1,2,3,4]; //源表需要拼到目标表的源表的列号，从0开始
 var desTableColumns = [1,2,3,4]; //源表需要拼到目标表的目标表列号，从0开始
 var srcTable = srcContainer.firstChild.getElementsByTagName("TABLE")[0];
	var desTable = desContainer.firstChild.getElementsByTagName("TABLE")[0];
	var refRows = new Object();
 for(var i=1;i<srcTable.rows.length;i++){  //循环源表的每行，首行跳过，放入refRows
		  var key = srcTable.rows[i].cells[0].innerText;
		  refRows[key] = srcTable.rows[i];
	 }
	for(var i=1;i<desTable.rows.length;i++){  //循环目标表的每行，首行跳过
		  var key = desTable.rows[i].cells[0].innerText;
		    for(var j=0;j<desTableColumns.length;j++){
		    	var newValue = "  ";
		    	if(typeof(refRows[key])+''!='undefined')	
		    	if(typeof(refRows[key].cells[srcTableColumns[j]].innerText)+'' != 'undefined')
		    		newValue = refRows[key].cells[srcTableColumns[j]].innerText;
		            desTable.rows[i].cells[desTableColumns[j]].innerText = newValue;
		    	}
		    }
}


var srccontainer=document.getElementById('divcontainer1');
var descontainer=document.getElementById('divcontainer2');
mergeTable(srccontainer,descontainer);

</script>