<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/ThunderReportEZ/css/global.css"/>
<script src="/ThunderReportEZ/include/js/ext-base.js"></script>
<script src="/ThunderReportEZ/include/js/ext-all.js"></script>
<script src="/ThunderReportEZ/include/js/report.js"></script>

<script language="javascript">
  if(parent.parent  && parent.parent.Ext){
   var rptshowel=parent.parent.Ext.get('rpt_tab');
   if(rptshowel){
      rptshowel.unmask(true);
   }
   }

function LeftTopCornerMerge(cols){
var trcoll = document.getElementsByTagName("TR");

var i = 0;
var tr = null;
//for(var i=0;i<trcoll.length;i++){
  // alert(trcoll[i].className);
//}

tr = trcoll[3]


tr.childNodes(0).setAttribute("colSpan",2);
for(i=1;i<2;i++)
		tr.childNodes.item(i).removeNode();
		
}
function fun1(param)	
{
	document.forms[0].action="RepresentAction?index=5";
	document.getElementById("pageindex").value = parseInt(document.getElementById("pageindex").value) + param;
	document.forms[0].submit();		
	return true;
}
function fun2(fileType){
document.forms[0].action="RepresentAction?index=6&fileType="+fileType;
document.forms[0].target="_blank";
document.forms[0].submit();
}
function fun3(){
	document.forms[0].action="RepresentAction?index=5";
	
	var toPage=parseInt(document.getElementById("selectindex").value);
	if(toPage<0||toPage>parseInt(document.getElementById("pagecount").value)){
		alert("输入数字页号超出范围");
		return false;	
	}
	document.getElementById("pageindex").value = toPage;
	document.forms[0].submit();
	return false;
}

</script>
</head>
<body>
<div id="wrap">
<div id="bd">
<div class="content">
	<form id="FA" method="post" action="RepresentAction?index=5">
		<!--div id="condition" class="item item01 border_gray" style="display: block;"-->
			<input type="hidden" name="pageindex" value="$page.getPageindex()"></input>
			<input type="hidden" name="pagecount" value="$page.getPagecount()"></input>
			<input type="hidden" name="filename" value="$file"></input>
			#if($back)
				<input type="hidden" name="back" value="1"></input>
			#else
				<input type="hidden" name="back" value="0"></input>
			#end
				<input type="hidden" name="sql"></input>
			#foreach($key in $parameters.keySet())
				<input type="hidden" name="$key" value="$parameters.get($key)"></input>
			#end
		 <!--/div-->
		<div class="item table_box border_blue">
			<div class="table_wrap">
				$table
			</div>
		</div>
		<table width="98%" cellspacing="0" cellpadding="0">
			<tr class="tr_odd">
			#if($pageFlag)
				<td align="right">
				#if($page.hasPrevious())
					<a href="javascript:fun1(-1);">上一页</a>
				#else
					上一页

				#end</td>
				<td align="center" width="100">
				#if($page.hasNext())
					<a href="javascript:fun1(1);" >下一页</a>
				#else
					下一页

				#end</td>
				<td align="center" width="100">当前第$page.getPageindex()页</td>
				<td align="center" width="100">共$page.getPagecount()页</td>
				<td align="center" width="100">共$page.getRecordcount()条记录</td>
				<td align="center" width="100"><a href="javascript:fun3()">跳转</a><input type="text" id="selectindex" name="selectindex" value="$page.getPageindex()"></td></td>
			#end	
				<td align="center" width="100">
					<a href="javascript:fun2('xls')">导出Excel</a>
				</td>
				<td align="center" width="100">
					<a href="javascript:fun2('csv')">导出csv</a>
				</td>
			</tr>
		</table>			
	</form>
	
	
	#if($back)
   		<div id="back" align="center">
		<a href="javascript:history.go(-1)"><input onclick="javascript:history.go(-1)" type="button" class="backbutton" title="返回"/></a>
		</div>
   #end
 </div>
 </div>
 </div>
</body>
</html>
