<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/report.css"/>

<script language="javascript">
function fun1(param)	
{
	document.getElementById("pageindex").value = parseInt(document.getElementById("pageindex").value) + param;
	document.forms[0].submit();
	return false;
}
</script>
</head>
<body>
	<form id="FA" method="post" action="RepresentAction?index=5">
		<input type="hidden" name="pageindex" value="$page.getPageindex()"></input>
		<input type="hidden" name="pagecount" value="$page.getPagecount()"></input>
		<input type="hidden" name="filename" value="$file"></input>
		#foreach($key in $parameters.keySet())
			<input type="hidden" name="$key" value="$parameters.get($key)"></input>
		#end
		
		<table border="1" width="100%">
		$table
		</table>
		<table border="1" width="100%">
			<tr>
				<td align="right">
				#if($page.hasPrevious())
					<a href="#" onclick="javascript:fun1(-1);">上一页</a>
				#else
					上一页
				#end</td>
				<td align="center" width="100">
				#if($page.hasNext())
					<a href="#" onclick="javascript:fun1(1);">下一页</a>
				#else
					下一页
				#end</td>
				<td align="center" width="100">当前第$page.getPageindex()页</td>
				<td align="center" width="100">共$page.getPagecount()页</td>
				<td align="center" width="100">共$page.getRecordcount()条记录</td>
				<td align="center" width="100"><a href="#">跳转</a><input type="text" name="selectindex" value="$page.getPageindex()"></td></td>
			</tr>
		</table>
	</form>
</body>
</html>
