<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 基础设置 -->
	<settings>
		<!-- 配置全局性 cache 的 ( 开 / 关) default:true -->
		<setting name="cacheEnabled" value="true" />
		<!-- changes from the defaults -->
		<!-- 是否使用 懒加载 关联对象 同 hibernate中的延迟加载 一样 default:true -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- [当对象使用延迟加载时 属性的加载取决于能被引用到的那些延迟属性,否则,按需加载(需要的是时候才去加载)] -->
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	<!-- 别名定义 -->
	<typeAliases>
	</typeAliases>
	<!-- SQL映射文件 -->
	<!-- -->
	<mappers>
	</mappers>
</configuration>