<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 表名称：t02_sys_menu -->

<mapper namespace="com.idp.sysmgr.menu.entity.Menu">
	<!-- *.来映射文件字段与类属性的对就关系 ibatis默认不对字段进行去下划线工作 -->
	<resultMap id="menuMap" type="com.idp.sysmgr.menu.entity.Menu">
		<result property="menuId" column="MENU_ID" jdbcType="INTEGER" />
		<result property="parMenuId" column="PAR_MENU_ID" jdbcType="INTEGER" />
		<result property="menuTitle" column="MENU_TITLE" jdbcType="VARCHAR" />
		<result property="menuName" column="MENU_NAME" jdbcType="VARCHAR" />
		<result property="menuDesc" column="MENU_DESC" jdbcType="VARCHAR" />
		<result property="action" column="ACTION" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="VARCHAR" />
		<result property="roleCheckId" column="ROLE_CHECK_ID" jdbcType="VARCHAR" />
		<result property="menuType" column="MENU_TYPE" jdbcType="VARCHAR" />
		<result property="indexNo" column="INDEXNO" jdbcType="INTEGER" />
		<result property="dealId" column="DEAL_ID" jdbcType="VARCHAR" />
		<result property="redirectTo" column="REDIRECTTO" jdbcType="VARCHAR" />
		<result property="template" column="TEMPLATE" jdbcType="VARCHAR" />
		<result property="params" column="PARAMS" jdbcType="VARCHAR" />
	</resultMap>

	<select id="query" parameterType="java.util.Map" resultMap="menuMap">
		select 
		<include refid="allColumn" />
         from t02_sys_menu t
        <include refid="dynamicWhere" />
		<include refid="dynamicOrderBy" />
	</select>
	
	<!-- 2.1.根据条件查询 列表 分页 排序 -->
	<select id="findByPager" parameterType="java.util.Map" resultMap="menuMap">
		select t.menu_id,
               t.par_menu_id,
               t.menu_title,
               t.menu_name,
               t.menu_desc,
               t.action,
               t.state,
               t.role_check_id,
               t.menu_type,
               t.indexno,
               t.deal_id,
               t.redirectto,
               t.template,
               t.params from t02_sys_menu t
	</select>
	
	<!-- 3.1.根据对像条件查询记录数 MAP参数 -->
	<select id="findByPagerCount" parameterType="java.util.Map" resultType="int">
		select
		count(1)
		from
		t02_sys_menu t
	</select>
	
	<!-- 4.1对像插入 -->
	<insert id="insert" parameterType="com.idp.sysmgr.menu.entity.Menu">
		INSERT INTO
		T02_SYS_MENU(
		<include refid="allColumn" />
		)
		<include refid="allColumnVar" />
	</insert>
	
	<!-- 5.删除 -->
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM t02_sys_menu
		<include refid="dynamicWhere" />
	</delete>
	
	<!-- 表所有的字段：insert 的表、字段 部分 -->
	<sql id="allColumn">
		MENU_ID,
		PAR_MENU_ID,
		MENU_TITLE,
		MENU_NAME,
		MENU_DESC,
		ACTION,
		STATE,
		ROLE_CHECK_ID,
		MENU_TYPE,
		INDEXNO,
		DEAL_ID,
		REDIRECTTO,
		TEMPLATE,
		PARAMS
	</sql>
	
	<!-- 单条插入：动态生成可插入字段 对应的变量列表 -->
	<sql id="allColumnVar">
		values(
		#{menuId,jdbcType=INTEGER},
		#{parMenuId,jdbcType=INTEGER},
		#{menuTitle,jdbcType=VARCHAR},
		#{menuName,jdbcType=VARCHAR},
		#{menuDesc,jdbcType=VARCHAR},
		#{action,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR},
		#{roleCheckId,jdbcType=TIMESTAMP},
		#{menuType,jdbcType=VARCHAR},
		#{indexNo,jdbcType=INTEGER},
		#{dealId,jdbcType=VARCHAR},
		#{redirectTo,jdbcType=VARCHAR},
		#{template,jdbcType=VARCHAR},
		#{params,jdbcType=VARCHAR}
		)
	</sql>
	
	<!-- order by 排序 -->
	<sql id="dynamicOrderBy">
		<if test="orderBy!=null">
			order by ${orderBy}
			<if test="order!=null">
				${order}
			</if>
		</if>
	</sql>
	
	<!--================= 动态内容部分 ================= -->
	<!-- where：动态生成部分 -->
	<sql id="dynamicWhere">
		<!-- LIKE 样例： SYSTEM_NAME like '%'||#{systemName}||'%' -->
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="menuId!=null and parMenuId!=null">
				AND PAR_MENU_ID=#{parMenuId} OR MENU_ID=#{menuId}
			</if>
			<if test="parMenuId!=null and menuId==null">
				AND PAR_MENU_ID = #{parMenuId}
			</if>
			<if test="parMenuId==null and menuId!=null">
				AND MENU_ID = #{menuId}
			</if>
		</trim>
	</sql>	
</mapper>