 <div class="col-sm-12 col-md-12">
                          
    <div class="row">
        
     	<div class="col-sm-12 col-md-12">
			<form class="form-custom clearfix">
			    
	        <div class="col-sm-2 col-md-2">
	            <input class="form-control"  type="text" placeholder="姓名,专长，简介" ng-model="params.querykeyword"/>       
	        </div>   
	        <div class="col-sm-4 col-md-4">                 
	            <button class="btn btn-custom" type="submit"  ng-click="refresh('first',true)">查询</button>            
	            <button class="btn btn-custom" type="button"  data-toggle="modal" data-target="#add" upload-refresh="true">新增</button> 
	       
	        </div>
            </form>
        </div> 
    </div>
             
   <table class="table table-striped table-bordered table-condensed index-center  table-costom">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>简介</th>
            <th>级别</th>
            <th>电话</th>
            <th>主治</th>
            <th>科室</th>
            <th>时间</th>
            <th>操作</th>
          
        </tr>
        </thead>
        <tbody>
        <tr class="rowlink" ng-repeat="it in limitArr">
            <td>{{current*limit+$index+1}}</td>
            <td>{{it.doctorName}}</td>
            <td title="{{it.doctorDesc}}">{{it.doctorDesc|limitTo:10}}  </td>
            <td>{{it.doctorDegree | DSL_doctorlevel}}</td>
            <td>{{it.doctorTel}}</td>
            <td title="{{it.doctorSpeciality}}">{{it.doctorSpeciality|limitTo:10}}</td>
            <td>{{it.doctorDepartment}}</td>
            <td>{{it.doctorDate|date:'yyyy-MM-dd'}}</td>
            <td>
                <a    href="javascript:" data-toggle="modal" data-target="#preview"      ng-click="preview(it)"> 预览</a>
                <a    href="javascript:" data-toggle="modal" data-target="#edit"           upload-refresh="true"    ng-click="edit(it)" >修改</a> 
                <a    href="javascript:" data-toggle="modal" data-target="#removeDialog"   ng-click="todelete(it.doctorId,it.doctorPic,it.doctorCertificate)">删除</a>
                 
            </td>
    
        </tr>
        </tbody>
    </table>
            <div   data-remote-paging="pager" 
					data-refresh="refresh" 
					data-current="current" 
					data-total="total" 
					data-data="limitArr"
					data-limit="limit"
					data-params="params"
			></div>

</div>
  
<!-- 新增对话框 -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">                                                                                               
                     <p> 新增</p>                                                        
                </h4>
            </div>            
            <form name="shareFm" class="form-horizontal"   auto-file-upload  ng-submit="create(key)"  novalidate="novalidate">    
	            <div class="modal-body">
	                <div class="row">
	                    <div class="col-sm-12 col-md-12">
	                       <div class="alert alert-danger alert-dismissable"   style="padding-left:80px">
								<a data-dismiss="alert" class="close">×</a>
								<strong>友情提示：</strong> 图片文件大小不要超过1M
							</div>
						<div class="form-group">
			                <label class="col-lg-2 control-label">姓名</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="key.doctorName" ng-maxlength="50" ng-trim maxlength="50" />
			                </div>
			                 
			                 <label class="col-lg-2 control-label">性别</label>
			                <div class="col-lg-3">
			                     <select id="pro" ng-init="key.doctorGender = '1'" select2 data-live-search="false" class="form-control" name="anatype"  ng-model="key.doctorGender"  >
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                 </select>
                             </div>
			                  
		 
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">级别</label>
                            <div class="col-lg-3">
                                 <select id="prodree" ng-init="key.doctorDegree = '3'" select2 data-live-search="false" class="form-control" name="degree"  ng-model="key.doctorDegree"  >
                                        <option value="1">实习医师</option>
                                        <option value="2">助理医师</option>
                                        <option value="3">医师</option>
                                        <option value="4">主治医师</option>
                                        <option value="5">副主任医师-</option>
                                        <option value="6">主任医师</option>
                                 </select>
                            </div>
                            
                            
                            <label class="col-lg-2 control-label">电话</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"  ng-model="key.doctorTel" ng-maxlength="20" ng-trim maxlength="20" />
                            </div>
                             
                             
                        </div>
                        <div class="form-group">
			                <label class="col-lg-2 control-label">身份证</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="key.doctorIdcard" ng-maxlength="20" ng-trim maxlength="20" />
			                </div>
			                  
			                <label class="col-lg-2 control-label">科室</label>
			                <div class="col-lg-3">
			                
			                    <select class="form-control" ng-model="key.doctorDepartment" name="department" required  select2 data-live-search="true"  ng-options="item.departmentId as item.departmentName for item  in departments">
			                    </select>       
                             </div>
			                  
                        </div>
                        <div class="form-group">
			                <label class="col-lg-2 control-label">主治</label>
			                <div class="col-lg-9">
			                    <input type="text" class="form-control"  ng-model="key.doctorSpeciality"  />
			                </div>
                        </div> 
                                         
               
						   <div class="form-group">                                  
				               <label class="col-lg-2 control-label">照片: </label>             
				                <div class="col-lg-4">                
					                    <div uploader  thumb ng-model="uploadProfilePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>  
				               <label class="col-lg-2 control-label">证书: </label>             
				                <div class="col-lg-3">                
					                    <div uploader  thumb ng-model="uploadCertificatePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>                         
				           </div>
				           
				        <div class="form-group">
                            <label class="col-lg-2 control-label">简介</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" rows="4"  ng-model="key.doctorDesc"  data-valid-pos="bottom" ></textarea>
                            </div>
                        </div>
				      
	                    </div>
	                </div>
	            </div>  
	            <div class="modal-footer">   
	              <button type="reset" class="btn btn-default">重置</button>
	              <button type="submit" class="btn btn-primary" > 保 存</button>
	              <button type="button" class="btn btn-default" data-dismiss="modal"  > 取消</button>
	            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 删除对话框 -->
<div class="modal fade" id="removeDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">
                                                     确认要删除么？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="comfirmDelete()" data-dismiss="modal">确认删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">                                                                                               
                                                                  修改
                </h4>
            </div>            
            <form name="shareFm" class="form-horizontal"   auto-file-upload  ng-submit="create(keye)"     novalidate="novalidate"  >    
	            <div class="modal-body">
	                <div class="row">
	                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
			                <label class="col-lg-2 control-label">姓名</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="keye.doctorName" ng-maxlength="50" ng-trim maxlength="50" />
			                </div>
			                 
			                 <label class="col-lg-2 control-label">性别</label>
			                <div class="col-lg-3">
			                     <select id="pro"  select2 data-live-search="false" class="form-control" name="anatype"  ng-model="keye.doctorGender"  >
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                 </select>
                             </div>
			                  
		 
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">级别</label>
                            <div class="col-lg-3">
                                 <select id="prodree"   select2 data-live-search="false" class="form-control" name="degree"  ng-model="keye.doctorDegree"  >
                                        <option value="1">实习医师</option>
                                        <option value="2">助理医师</option>
                                        <option value="3">医师</option>
                                        <option value="4">主治医师</option>
                                        <option value="5">副主任医师-</option>
                                        <option value="6">主任医师</option>
                                 </select>
                            </div>
                            
                            
                            <label class="col-lg-2 control-label">电话</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"  ng-model="keye.doctorTel" ng-maxlength="20" ng-trim maxlength="20" />
                            </div>
                             
                             
                        </div>
                        <div class="form-group">
			                <label class="col-lg-2 control-label">身份证</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="keye.doctorIdcard" ng-maxlength="20" ng-trim maxlength="20" />
			                </div>
			                  
			                <label class="col-lg-2 control-label">科室</label>
			                <div class="col-lg-3">
			                
			                    <select class="form-control" ng-model="keye.doctorDepartment" name="department" required  select2 data-live-search="true"  ng-options="item.departmentId as item.departmentName for item  in departments">
			                    </select>       
                             </div>
			                  
                        </div>
                        <div class="form-group">
			                <label class="col-lg-2 control-label">主治</label>
			                <div class="col-lg-9">
			                    <input type="text" class="form-control"  ng-model="keye.doctorSpeciality"  />
			                </div>
                        </div>  
                                         
						   <div class="form-group">                                  
				               <label class="col-lg-2 control-label" title="不选代表删除原有照片">照片: </label>             
				                <div class="col-lg-4">                
					                    <div uploader  thumb ng-model="uploadProfilePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>  
				               <label class="col-lg-2 control-label" title="不选代表删除原有证书">证书: </label>             
				                <div class="col-lg-3">                
					                    <div uploader  thumb ng-model="uploadCertificatePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>                         
				           </div>
				           
				        <div class="form-group">
                            <label class="col-lg-2 control-label">简介</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" rows="4"  ng-model="keye.doctorDesc"  data-valid-pos="bottom" ></textarea>
                            </div>
                        </div>
	                                    
	                    </div>
	                </div>
	            </div>  
	            <div class="modal-footer">       
	              <button type="reset" class="btn btn-default">重置</button>
	              <button type="submit" class="btn btn-primary"   ng-disabled="shareFm.$invalid" ng-click=""> 保存</button>
	              <button type="button" class="btn btn-default" data-dismiss="modal"  > 取消</button>
	            </div>
	            
	          
	            
	            
	            
	            
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


   

<!-- 预览知识 -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;height:392px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">预览</h4>
            </div>    
            
           <div class="modal-body">     
            	<div class="col-sm-12 col-md-12">
	                  <form role="form" class="form-horizontal">                                      
		                <h4 class="heading">         姓名： {{keyv.doctorName}}
		                     
		                </h4> 
		                  
		                  <div class="form-group"> 
		                  &nbsp;                                                                     
		                  </div>
		                                                                                      
	                  	<style type="text/css">
		                        	.float-img{              
		                        		display:  visible;
		                        		position: absolute;
		                        		margin-top:-40px;                                                                   
		                        		width: 152px;                                                               
		                        		height:152px;             
		                        	    right:28px;        
		                        		overflow:auto;
		                        		background-color: #ff;                
		                        		z-index:1;
		                        		border:1px solid #f2f2f2;
		                        	}  
		                        	.float-img1{              
		                        		display:  visible;
		                        		position: absolute;
		                        		margin-top:-136px;                                                                   
		                        		width: 152px;                                                               
		                        		height:152px;             
		                        	    right:28px;        
		                        		overflow:auto;
		                        		background-color: #ff;                
		                        		z-index:1;
		                        		border:1px solid #f2f2f2;
		                        	}              
		              	</style>                                                                                                           
	                  <div >    
	                       <div     class="float-img"   >    
	                          <img class="img-thumbnail"  ng-src="{{imgShow(keyv.doctorPic)}}"  style="width: 150px; height:149px;"/>            
	                       </div>   
	                  </div>

	           			<div class="form-group"  style=" height:332px; "> 
	                     	<div >
	                            <label class="col-lg-2 control-label">基本信息:</label>
	                                
	                                   <p class="col-lg-6">  
										     {{keyv.doctorGender | DSL_humangender}},{{keyv.doctorDegree | DSL_doctorlevel}},电话：{{keyv.doctorTel}}
										      <br>
										     身份证号：{{keyv.doctorIdcard}}
										      <br>
										     主治：{{keyv.doctorSpeciality}}
										     <br>
										     简介：{{keyv.doctorDesc}}
	                                   </p>  
	                                    
	                               
	                     
	                     	</div>  
	                  	</div> 
	                  	 <div >    
	                       <div     class="float-img1"   >    
	                          <img class="img-thumbnail"  ng-src="{{imgShow(keyv.doctorCertificate)}}"  style="width: 150px; height:149px;"/>            
	                       </div>   
	                  </div>    
                   <div class="form-group"> 
		                  &nbsp;                                                                     
		             </div>
	                 </form>                 
	            </div> <!-- col-sm-12 col-md-12 end -->                 
                
                 
            </div><!-- modal-conteng end -->
               
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


 