util.print: Use console.log instead
.empty {
	empty: true
}

 

.my-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 137px;
	min-width: 1100px;
	z-index: 100
}

 

.my-content .view {
	padding: 0 30px 30px
}

.my-content .bc-d {
	padding: 1.3em 2em;
	color: #9A9A9A
}

.my-content .bc-d span {
	margin-left: 5px
}

.my-content .bc-d span:before {
	content: ">";
	display: inline-block;
	margin-right: 5px
}

.toggle-sub-menu {
	position: fixed;
	width: 6px;
	top: 137px;
	left: 0;
	bottom: 0
}

.toggle-sub-menu a {
	width: 18px;
	height: 39px;
	background: url(bg/icon2-r.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -19px
}

.slider-show .my-content {
	padding-left: 178px
}

.slider-show .toggle-sub-menu {
	left: 186px
}

.slider-show .toggle-sub-menu a {
	background-image: url(bg/icon1-l.png)
}

.sub-menu {
	width: 186px;
	position: fixed;
	top: 67px;
	left: 0;
	bottom: 0;
	background-color: rgba(6, 32, 48, 0.7);
	border-right: 1px solid #8D9BA6;
	overflow: hidden
}

.sub-menu .topMenu,.sub-menu .topMenu ul,.sub-menu .topMenu li {
	list-style: none;
	text-align: left;
	margin: 30px 10px 10px 10px;
	padding: 0;
	
}

.sub-menu .topMenu a {
	text-decoration: none
}

.sub-menu .topMenu>li>a {
	color: #ccc;
	display: block;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	padding-left: 30px;
	background-color:  #085D8A;
 
	position: relative
}

.sub-menu .topMenu>li>a:before {
	position: absolute;
	content: "";
	width: 8px;
	height: 10px;
	background: url(bg2/menu_r.png) no-repeat top left;
	top: 11px;
	left: 15px
}

.sub-menu .topMenu>li>a:hover {
	background-color: #357ebd;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	color: #fff;
	border-color:  #285e8e
}

.sub-menu .topMenu>li>a.active-menu {
 
	color: #000;
	
	background-color: #357ebd;
	border-color:  #285e8e;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.sub-menu .topMenu>li>ul {
	padding: 0 10px
}

.sub-menu .topMenu>li>ul>li>a {
	background: url(bg2/t1.gif) no-repeat 10px center #e7e3e7;
	border-top: 1px solid #B8C2CB;
	color: #42556B;
	display: block;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	padding-left: 25px
}

.sub-menu .topMenu>li>ul>li>a:hover,.sub-menu .topMenu>li>ul>li>a.active-menu
	{
	background: url(bg2/t2.gif) no-repeat 10px center #f6f6f6
}

.my-nav {
	 
	height: 78px
}

.my-nav a {
	display: block;
	float: left;
	height: 49px;
	line-height: 35px;
	padding: 0 25px;
	font-size: 14px;
	color: #fff
}

.my-nav a:hover,.my-nav a.active,.my-nav a:focus {
	 
	text-decoration: none
}

.my-head {
	height: 91px;
	background: url(bg2/head-1.jpg) no-repeat top center #097941
}

.my-head .logo {
	display: block;
	background: url(bg/logo-bj.png) no-repeat;
	width: 500px;
	height: 91px;
	float: left
}

.my-head .user-info {
	float: right;
	padding: 22px 18px 0 0;
	font-size: 12px;
	color: #fff
}

.my-head .user-info .email {
	display: inline-block;
	background: url(bg/mail.png) no-repeat;
	width: 17px;
	height: 13px;
	position: relative;
	top: 2px
}

.my-head .user-info div:first-child {
	margin-bottom: 10px
}

.my-head .user-info strong {
	color: #FFCE1C
}

.my-head .user-info a,.my-head .user-info span {
	color: #fff;
	margin: 0 5px
}

.index-body {
	width: 751px;
	height: 500px;
	background: url(bg/20140529151357.jpg) no-repeat;
	margin: 0 auto
}

.form-custom {
	 margin-bottom: 10px;
  	margin-top: 15px;
	 
	filter: progid : DXImageTransform.Microsoft.Gradient ( gradientType = 0,
		startColorstr = '#ffffff', endColorstr = '#ecefee' );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px
	outline: medium none;
	color: #DEE0E9;
	display: block;
	box-sizing: border-box;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	 
	background: linear-gradient(to bottom, rgba(128, 146, 184, 0.7) 0%, rgba(109, 127, 165, 0.7) 2%, rgba(106, 125, 165, 0.7) 12%, rgba(87, 116, 148, 0.7) 50%, rgba(72, 109, 136, 0.7) 73%, rgba(74, 109, 137, 0.7) 75%, rgba(65, 105, 131, 0.7) 88%, rgba(62, 104, 128, 0.7) 100%) repeat scroll 0% 0% transparent;
	
	
}


  .menubar {
	background-color: #39B1DD;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 5px #156785, 0 2px 25px rgba(0, 0, 0, 0.9);
	color: #FFFFFF;
	font- size: 22px;
	margin: 10px 1px;
	padding: 2px;
	position: relative;
	text-align: center;
	width: 110px;
}

.namebar {
	box-shadow: 0 2px 5px #156785, 0 2px 25px rgba(0, 0, 0, 0.9);
	color: #156785;
	font- size: 22px;
	 
	margin-left: 10px;
	margin-right: 20px;
	position: relative;
	text-align: center;
	width: 80px;
}
.navright {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	cursor: pointer;
} 
.navright > li > a {
    display: block;
    float: left;
    height: 29px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
 
     
}
 
 
.form-custom .btn-custom {
	background-color: #428bca;
	border-color: #357ebd;
	color: #DEE0E9;
	font-size: 12px;
	padding: 7px 8px
}

.form-inline input,.form-inline select {
	width: auto;
	margin-right: 15px
}

.form-inline .form-group label {
	display: inline-block;
	margin-right: 10px;
	font-size: 14px
}

.table-costom thead>tr>th {
	color: #272A2D;
	 
	 
	 
	text-shadow: none;
	text-align: center;
	border-color: #ffffff
	
	 
	padding: 7px 10px;
	filter: progid : DXImageTransform.Microsoft.Gradient ( gradientType = 0,
		startColorstr = '#ffffff', endColorstr = '#ecefee' );
	 
	outline: medium none;
	 
 
	box-sizing: border-box;
	font-size: 1em;
	padding-left: 1em;
	margin: 0px 17px 0.15em 2em;
	background: linear-gradient(to bottom, rgba(128, 146, 184, 0.7) 0%, rgba(109, 127, 165, 0.7) 2%, rgba(106, 125, 165, 0.7) 12%, rgba(87, 116, 148, 0.7) 50%, rgba(72, 109, 136, 0.7) 73%, rgba(74, 109, 137, 0.7) 75%, rgba(65, 105, 131, 0.7) 88%, rgba(62, 104, 128, 0.7) 100%) repeat scroll 0% 0% transparent;
	
}

.table-costom tbody>tr:nth-child (2n+ 1)>td {
	background-color: #F4F4F4
}

.table-costom tbody>tr>td {
	padding: 5px
}

.my-box li>.pull-right {
	color: #999
}

.my-box li {
	line-height: 1.7em
}

.my-box li>a {
	color: #484848
}

.my-box .w-box-header {
	font-size: 14px;
	color: #666;
	background-color: #fbf3e2;
	background-image: -webkit-linear-gradient(top, #fbf3e2, #fff);
	background-image: -moz-linear-gradient(top, #fbf3e2, #fff);
	background-image: -o-linear-gradient(top, #fbf3e2, #fff);
	background-image: -ms-linear-gradient(top, #fbf3e2, #fff);
	background-image: linear-gradient(top, #fbf3e2, #fff);
	filter: progid : DXImageTransform.Microsoft.Gradient ( gradientType = 0,
		startColorstr = '#fbf3e2', endColorstr = '#ffffff' );
	height: auto;
	padding: 5px 10px
}

.my-box .w-box-header,.my-box .w-box-footer,.my-box .w-box-content {
	border-color: #EFCF8F
}

.my-box .w-box-footer {
	background: url(bg/box-bg.png) repeat-x;
	line-height: 16px
}

.my-box .w-box-footer a {
	color: #666
}

.my-box .w-box-content {
	min-height: 20px;
	padding-bottom: 30px
}

.my-box .icon {
	display: inline-block;
	width: 34px;
	height: 30px;
	vertical-align: -9px
}

.my-box .icon.def {
	background: url(bg/icon-3.png) no-repeat
}

.my-box .icon.bro {
	background: url(bg/icon-2.png) no-repeat
}

.my-box strong {
	color: #F46600
}

.my-box-flat {
	position: fixed;
	top: 147px;
	left: 20px;
	width: 210px
}

.my-box-flat ul,.my-box-flat li {
	list-style: none;
	margin: 0;
	padding: 0
}

.date .form-control {
	display: block
}

.defer_box_bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 99998;
	filter: alpha(opacity = 20);
	-moz-opacity: .2;
	-khtml-opacity: .2;
	opacity: .2
}

.defer_box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999
}

.defer_box .progress {
	height: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	margin: -7px 0 0 -200px
}

.paging-select {
	display: inline;
	width: auto;
	height: 26px !important;
	line-height: 26px !important;
	padding: 3px 6px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	border-left: none
}

.bootstrap-select {
	width: 100%
}

.form-inline .bootstrap-select {
	margin-right: 10px
}

.help-tips {
	position: fixed;
	top: 91px;
	right: 10px;
	width: 145px;
	z-index: 101
}

.help-tips .head {
	height: 39px;
	background-color: #146b40;
	background-image: -webkit-linear-gradient(top, #146b40, #059861);
	background-image: -moz-linear-gradient(top, #146b40, #059861);
	background-image: -o-linear-gradient(top, #146b40, #059861);
	background-image: -ms-linear-gradient(top, #146b40, #059861);
	background-image: linear-gradient(top, #146b40, #059861);
	filter: progid : DXImageTransform.Microsoft.Gradient ( gradientType = 0,
		startColorstr = '#146b40', endColorstr = '#059861' );
	font-size: 18px;
	line-height: 39px;
	font-weight: 700;
	font-family: "宋体";
	color: #fff;
	cursor: pointer
}

.help-tips .head:before {
	content: "";
	display: inline-block;
	width: 29px;
	height: 29px;
	background-image: url(bg2/icon-7.png);
	background-repeat: no-repeat;
	vertical-align: -8px;
	margin-left: 5px;
	margin-right: -5px
}

.help-tips .body {
	background-color: #F1F8F0;
	border-color: #059861;
	border-style: solid;
	border-width: 0 2px 2px;
	padding: 10px 0
}

.help-tips .body ul {
	list-style-type: square;
	padding-left: 27px;
	margin-bottom: 0
}

.help-tips .body ul li {
	line-height: 27px;
	cursor: pointer
}

.help-tips .body ul li strong {
	color: red
}

.help-tips .body ul li:hover {
	text-decoration: underline
}

.table-auto-scroll {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid #ddd
}

.table-auto-scroll>.table {
	margin-bottom: 0;
	table-layout: auto
}

.table-auto-scroll>.table>thead>tr>th,.table-auto-scroll>.table>tbody>tr>th,.table-auto-scroll>.table>tfoot>tr>th,.table-auto-scroll>.table>thead>tr>td,.table-auto-scroll>.table>tbody>tr>td,.table-auto-scroll>.table>tfoot>tr>td
	{
	white-space: nowrap
}

.table-auto-scroll>.table-bordered {
	border: 0
}

.table-auto-scroll>.table-bordered>thead>tr>th:last-child,.table-auto-scroll>.table-bordered>tbody>tr>th:last-child,.table-auto-scroll>.table-bordered>tfoot>tr>th:last-child,.table-auto-scroll>.table-bordered>thead>tr>td:last-child,.table-auto-scroll>.table-bordered>tbody>tr>td:last-child,.table-auto-scroll>.table-bordered>tfoot>tr>td:last-child
	{
	border-right: 0
}

.table-auto-scroll>.table-bordered>thead>tr>th:first-child,.table-auto-scroll>.table-bordered>tbody>tr>th:first-child,.table-auto-scroll>.table-bordered>tfoot>tr>th:first-child,.table-auto-scroll>.table-bordered>thead>tr>td:first-child,.table-auto-scroll>.table-bordered>tbody>tr>td:first-child,.table-auto-scroll>.table-bordered>tfoot>tr>td:first-child
	{
	border-left: 0
}

.table-auto-scroll>.table-bordered>thead>tr:last-child>th,.table-auto-scroll>.table-bordered>tbody>tr:last-child>th,.table-auto-scroll>.table-bordered>tfoot>tr:last-child>th,.table-auto-scroll>.table-bordered>thead>tr:last-child>td,.table-auto-scroll>.table-bordered>tbody>tr:last-child>td,.table-auto-scroll>.table-bordered>tfoot>tr:last-child>td
	{
	border-bottom: 0
}

.form-inline .my-datepicker {
	display: inline-block;
	vertical-align: middle
}

.form-inline .my-datepicker[range] {
	width: 250px
}

input[readonly],input[disabled] {
	background: #064B74;
	color: #40C6E3;
    background-color: rgba(5, 119, 190, 0.4);
	cursor: default !important
}

.no-wrap {
	margin: 0;
	padding: 0
}

.checkbox-limit {
	position: relative
}

.checkbox-limit .checkbox {
	width: 45%;
	float: left;
	margin-left: 5%
}

.checkbox-limit .check-all {
	position: absolute;
	right: 3%;
	text-align: right;
	top: 3%;
	width: auto
}