<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>ThunderReport</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>jsFilename</param-name>
		<param-value>WEB-INF/include/reportserver.js</param-value>
	</context-param>

	<context-param>
		<param-name>appFilename</param-name>
		<param-value>/WEB-INF/application.properties</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--	<filter>-->
<!--		<filter-name>SumFilter</filter-name>-->
<!--		<filter-class>com.teamsun.thunderreport.thread.XmlSumFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>filename</param-name>-->
<!--			<param-value>sumfile.properties</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>SumFilter</filter-name>-->
<!--		<url-pattern>/ServletFusionxmlService</url-pattern>-->
<!--	</filter-mapping>-->
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.teamsun.thunderreport.web.StartupListener
		</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>RepresentAction</display-name>
		<servlet-name>RepresentAction</servlet-name>
		<servlet-class>
		com.teamsun.thunderreport.web.RepresentAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletFusionxmlService</servlet-name>
		<servlet-class>
			com.teamsun.thunderreport.web.ServletFusionxmlService
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepresentAction</servlet-name>
		<url-pattern>/RepresentAction</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletFusionxmlService</servlet-name>
		<url-pattern>/ServletFusionxmlService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>
