<?xml version="1.0" encoding="gb2312"?>
<tree title="root">
	<tree title="首页" target="contentFrame" src="/thunderreport/pages/index/index.jsp">
	</tree>
	
	<tree title="报表SCOPE配置管理" target="contentFrame" src="/thunderreport/pages/index/index.jsp">
		<tree title="SCOPE类型管理" target="contentFrame" src="/thunderreport/TypeAction.do?reqCode=viewType"/>
		<tree title="SCOPE管理" target="contentFrame" src="/thunderreport/DimAction.do?reqCode=viewDim"/>
		<tree title="报表SCOPE管理" target="contentFrame" src="/thunderreport/RptDimAction.do?reqCode=viewRptDim"/>
		<tree title="报表SCOPE测试" target="contentFrame" src="/thunderreport/pages/rpt/rpt.jsp"/>
	</tree>
		
</tree>