<!DOCTYPE html>
<html lang="zh">
<head>
<!-- 360render -->
<meta name="renderer" content="webkit">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<meta charset="UTF-8">
<title>北京市诊所预约诊疗服务系统</title>
<!-- favicon -->
<link rel="icon" href="favicon.ico" mce_href="favicon.ico"
	type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico"
	type="image/x-icon">
<link rel="icon" href="favicon.gif" type="image/gif">

<link rel="stylesheet" href="base/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="base/bootstrap-select/bootstrap-select.min.css" />
<link rel="stylesheet" href="base/web-uploader/dist/webuploader.css" />
<link rel="stylesheet" href="base/qtip2/jquery.qtip.min.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="img/splashy/splashy.css" />
<link rel="stylesheet" href="base/stepy/css/jquery.stepy.css" />
<link rel="stylesheet"
	href="base/zTree_v3/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet"
	href="base/bootstrap-datepicker/build/datepicker.min.css" />
<link rel="stylesheet" href="css/newIndex.css" />
<link rel="stylesheet" href="css/cerulean.css" />

<link href='css/fullcalendar.min.css' rel='stylesheet' />
 
<link href='css/jquery.fancybox-1.3.4.css' rel='stylesheet' />
 
<link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.min.css">
 

<script src="base/ie/html5.js"></script>
<script src="base/ie/respond.min.js"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie8.css"/>
    <![endif]-->
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="css/lt-ie9.css"/>
    <![endif]-->
</head>

	                  	<style type="text/css">
		                        	.mainbody{              
										background: url("img/framebg.jpg") no-repeat scroll left top / 100% auto transparent;
		                        	}               
		                        	.topbar{              
		                        		 
										background: url("img/navbar.jpg") no-repeat scroll left top / 100% auto transparent;
		                        	}   
		                        	.quitbar {
			background: url(img/mail.png) no-repeat  transparent;
		}
		                        	
		                        	            
		              	</style> 
<body class="mainbody"   ng-class="{'slider-show' : !isHideSidebar()}">

	<!-- 加载遮罩层 -->
	<div defer-box="deferApi"></div>

 


    <div class="navbar navbar-default navbar-static-top topbar" role="navigation">
      <div class="my-nav clearfix">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">北京市诊所预约诊疗服务系统</a>
        </div>
        <div >
          <ul class="nav navbar-nav">
          
             <li ng-repeat="item in menu">  
                 <a class="menubar" ng-href="{{showRoute(item)}}"	 >{{item.name}}
                 </a>
            </li>

          </ul>
           
          <ul class="nav navbar-nav navright">
           	 
             <li><a class="namebar" href="javascript:"	data-toggle="modal" data-target="#editUserInfo">{{USER_INFO.userName}}</a> </li>
             <li  ><img src="img/quit.jpg"  height="30px" width="30px"  ng-click="logout()"></img> </li>
            
          </ul>
         
        </div>
        
      </div>
    </div>



	<!-- 左侧菜单 开关 -->
	<div class="toggle-sub-menu"   ng-show="subMenu.children!=null">
		<a href="javascript:" ng-click="toggleSidebar()"></a>
	</div>
	<!-- 左侧菜单 -->
	<div class="sub-menu"   ng-hide="isHideSidebar()" sliderbar nav-list>
	 
        <ul class="topMenu">
            <li ng-repeat="lm in subMenu.children">
                <a href="{{lm.route}}" ng-class="{'active-menu':checkActive(lm , 1)}" title="{{lm.name}}">{{lm.name}}</a>
                <ul>
                    <li ng-repeat="item in lm.children">
                        <a href="{{item.route}}" ng-class="{'active-menu':checkActive(item , 2)}" title="{{item.name}}">{{item.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
	</div>

	<!-- 内容区域 -->
	<div class="my-content clearfix">
		<div class="view">
			<div class="row">
				<div ng-view="" autoscroll></div>
			</div>
		</div>
	</div>

	<!-- 我的邮件 -->
	<div class="modal fade" id="myMail">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h3 class="modal-title">最新公告</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-info">In this table jquery plugin
						turns a table row into a clickable link.</div>
					<table class="table table-condensed table-striped"
						data-provides="rowlink">
						<thead>
							<tr>
								<th>Sender</th>
								<th>Subject</th>
								<th>Date</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Declan Pamphlett</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>23/05/2012</td>
								<td>25KB</td>
							</tr>
							<tr>
								<td>Erin Church</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>24/05/2012</td>
								<td>15KB</td>
							</tr>
							<tr>
								<td>Koby Auld</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>25/05/2012</td>
								<td>28KB</td>
							</tr>
							<tr>
								<td>Anthony Pound</td>
								<td><a href="javascript:void(0)">Lorem ipsum dolor sit
										amet</a></td>
								<td>25/05/2012</td>
								<td>33KB</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default">Go to
						mailbox</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 我的任务 -->
	<div class="modal fade" id="myTasks">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h3 class="modal-title">最新任务</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-info">In this table jquery plugin
						turns a table row into a clickable link.</div>
					<table class="table table-condensed table-striped"
						data-provides="rowlink">
						<thead>
							<tr>
								<th>id</th>
								<th>Summary</th>
								<th>Updated</th>
								<th>Priority</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>P-23</td>
								<td><a href="javascript:void(0)">Admin should not break
										if URL…</a></td>
								<td>23/05/2012</td>
								<td><span class="label label-danger">High</span></td>
								<td>Open</td>
							</tr>
							<tr>
								<td>P-18</td>
								<td><a href="javascript:void(0)">Displaying submenus in
										custom…</a></td>
								<td>22/05/2012</td>
								<td><span class="label label-warning">Medium</span></td>
								<td>Reopen</td>
							</tr>
							<tr>
								<td>P-25</td>
								<td><a href="javascript:void(0)">Featured image on post
										types…</a></td>
								<td>22/05/2012</td>
								<td><span class="label label-success">Low</span></td>
								<td>Updated</td>
							</tr>
							<tr>
								<td>P-10</td>
								<td><a href="javascript:void(0)">Multiple feed fixes
										and…</a></td>
								<td>17/05/2012</td>
								<td><span class="label label-warning">Medium</span></td>
								<td>Open</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default">Go to task
						manager</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 编辑用户信息 -->
	<div class="modal fade" id="editUserInfo" tabindex="-1" role="dialog"
		aria-hidden="true" ng-controller="UpdateUserCtrl">
		<div class="modal-dialog" style="width: 800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">个人信息修改</h4>
				</div>
				<form role="form" name="myUserInfo" novalidate="novalidate">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-md-12 form-horizontal">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">用户名:</label>
                                    <div class="col-md-9">
                                         {{USER_INFO.logName}} 
                                    </div>
                                </div>
								<div class="form-group">
									<label class="col-md-2 control-label">姓名:</label>
									<div class="col-md-9">
										<input type="text" name="name" placeholder="姓名"
											class="form-control" ng-model="user.userName"
											valid-pos="bottom" required
											data-valid-tip="姓名不允许为空，或超过20个中文字符">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">手机号:</label>
									<div class="col-md-9">
										<input type="text" name="phone" placeholder="手机号"
											class="form-control" phone ng-model="user.phone"
											valid-tip="手机号非法" valid-pos="bottom">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">email:</label>
									<div class="col-md-9">
										<input type="email" name="email" placeholder="email"
											class="form-control" ng-model="user.email" maxlength="40"
											valid-pos="bottom" data-valid-tip="email地址非法">
									</div>
								</div>
							 
								<div class="form-group">
									<label class="col-md-2 control-label">注册时间:</label>
									<div class="col-md-9">
										<p class="form-control-static">{{USER_INFO.createTime|date:'yyyy-MM-dd
											HH:mm:ss'}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label"></label> 
								    <div class="col-md-9 ">
								         <button type="button" class="btn btn-primary"  ng-click="previewClinicInfo()" >预览诊所信息</button>
                                         <button type="button" class="btn btn-primary"  upload-refresh="true" data-dismiss="modal" ng-click="showEdit()" >更新诊所信息</button>
                                         <button type="button" class="btn btn-primary"   ng-click="showEditPswd()" >修改密码</button>
                                          
									    
									</div> 
								    
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateUser()" ng-disabled="myUserInfo.$invalid">保存</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- 修改密码对话框 -->
	<div class="modal fade" id="editUserPwd" tabindex="-1" role="dialog"
		aria-hidden="true" ng-controller="RePasswordCtrl">
		<div class="modal-dialog" style="width: 800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">用户密码修改</h4>
				</div>
				<form role="form" name="modpwd" novalidate="novalidate">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-md-12 form-horizontal">
								<div class="form-group">
									<label class="col-md-2 control-label">用户原密码</label>
									<div class="col-md-9">
										<input type="password" placeholder="用户原密码" ng-model="oldpwd"
											class="form-control" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">输入新密码</label>
									<div class="col-md-9">
										<input type="password" placeholder="输入新密码,最大长度为20"
											name="newpwd" class="form-control" equals="agnewpwd"
											maxlength="20" ng-model="newpwd" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">再次输入新密码</label>
									<div class="col-md-9">
										<input type="password" ng-model="agnewpwd" name="agnewpwd"
											equals="newpwd" placeholder="再次输入新密码,最大长度为20" maxlength="20"
											valid-tip="两次密码输入不正确,且最大长度为20" valid-pos="bottom"
											class="form-control" required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal"
							ng-click="send()" ng-disabled="modpwd.$invalid">确认修改</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

 <div class="modal fade" id="previewClinic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;height:392px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">预览</h4>
            </div>    
            
           <div class="modal-body">     
            	<div class="col-sm-12 col-md-12">
	                  <form role="form" class="form-horizontal">                                      
		                <h4 class="heading">    {{keyv.clinicName}}
		                     
		                </h4> 
		                  
		                  <div class="form-group"> 
		                  &nbsp;                                                                     
		                  </div>
		                                                                                      
	                  	<style type="text/css">
		                        	.float-img{              
		                        		display:  visible;
		                        		position: absolute;
		                        		margin-top:-40px;                                                                   
		                        		width: 152px;                                                               
		                        		height:152px;             
		                        	    right:28px;        
		                        		overflow:auto;
		                        		             
		                        		z-index:1;
		                        		 
		                        	}  
		                        	.float-img1{              
		                        		display:  visible;
		                        		position: absolute;
		                        		margin-top:-136px;                                                                   
		                        		width: 152px;                                                               
		                        		height:152px;             
		                        	    right:28px;        
		                        		overflow:auto;
		                        	           
		                        		z-index:1;
		                        		 
		                        	}              
		              	</style>                                                                                                           
	                  <div >    
	                       <div     class="float-img"   >    
	                          <img class="img-thumbnail"  ng-src="{{imgShow(keyv.clinicPic)}}"  style="width: 150px; height:149px;"/>            
	                       </div>   
	                  </div>

	           			<div class="form-group"  style=" height:332px; "> 
	                     	<div >
	                            <label class="col-lg-2 control-label">基本信息:</label>
	                                
	                                   <p class="col-lg-6">  
										  地址：  {{keyv.clinicAddress}}
										      <br>
										  电话：  {{keyv.clinicTel}}
										      <br>
										   主治：  {{keyv.clinicSpeciality}}
										      <br>
										   描述：  {{keyv.clinicDesc}}
										      <br>          
										     经纬度：{{keyv.clinicLongitude+',' + keyv.clinicLongitude}}
										      <br>
	                                   </p>  
 
	                     	</div>  
	                  	</div> 
	                  	 <div >    
	                       <div     class="float-img1"   >    
	                          <img class="img-thumbnail"  ng-src="{{imgShow(keyv.clinicLicense)}}"  style="width: 150px; height:149px;"/>            
	                       </div>   
	                  </div>    
                   <div class="form-group"> 
		                  &nbsp;                                                                     
		             </div>
	                 </form>                 
	            </div> <!-- col-sm-12 col-md-12 end -->                 
                
                 
            </div><!-- modal-conteng end -->
               
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!-- 查看详情 -->
	<div class="modal fade" id="noReadAnnounce" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog" style="width: 900px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">公告详细信息</h4>
				</div>
				<div class="modal-body">
					<table
						class="table table-striped table-bordered table-condensed index-center table-costom">
						<thead>
							<tr>
								<th>序号</th>
								<th>公告名称</th>
								<th>发布机构</th>
								<th>发布日期</th>
								<th>最后有效期</th>
								<th width="90">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="rowlink" ng-repeat="item in announceList">
								<td>{{$index+1}}</td>
								<td align="center">{{item.annoName}}</td>
								<td align="center">{{item.orgName}}</td>
								<td align="center">{{item.annoDate | date:'yyyy-MM-dd'}}</td>
								<td align="center">{{item.annoValidDate |
									date:'yyyy-MM-dd'}}</td>
								<td align="center"><a href="javascript:"
									data-toggle="modal" data-target="#seeAnnounceMent"
									ng-click="toDetail(item)">查看详情</a></td>
							</tr>
						</tbody>
					</table>
					<div data-remote-paging="pagerAnnounce" data-refresh="refreshAnnounce"
						data-current="currentAnnounce" data-total="totalAnnounce" data-data="announceList"
						data-limit="limitAnnounce" data-params="paramsAnnounce"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
 

	<!--公告详细信息  -->
	<div class="modal fade" id="seeAnnounceMent" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog" style="width: 800px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">公告描述</h4>
				</div>
				<div class="modal-body">
					<pre class="no-pre">{{announcement.annoDesc}}</pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

 <div class="modal fade" id="clinicedit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title">                                                                                               
                     <p>诊所信息</p>                                                        
                </h4>
            </div>            
            <form name="shareFm" class="form-horizontal"   auto-file-upload  ng-submit="updateclinic(key)"  novalidate="novalidate">    
	            <div class="modal-body">
	                <div class="row">
	                    <div class="col-sm-12 col-md-12">
	                       <div class="alert alert-danger alert-dismissable"   style="padding-left:80px">
								<a data-dismiss="alert" class="close">×</a>
								<strong>友情提示：</strong> 图片文件大小不要超过1M
							</div>
						<div class="form-group">
			                <label class="col-lg-2 control-label">诊所名</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="key.clinicName" ng-maxlength="50" ng-trim maxlength="50" />
			                </div>
			             
                            <label class="col-lg-2 control-label">电话</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"  ng-model="key.clinicTel" ng-maxlength="20" ng-trim maxlength="20" />
                            </div>
                          
                             
                        </div>
                         <div class="form-group">
			                <label class="col-lg-2 control-label">地址</label>
			                <div class="col-lg-9">
			                    <input type="text" class="form-control" placeholder="例如：北京市海淀区信息中路26号709室" ng-model="key.clinicAddress"  />
			                </div>
                        </div> 
                         <div class="form-group">
			                <label class="col-lg-2 control-label"></label>
			                <div class="col-lg-9">
			                                                     用地址查询经纬度点击<a id="baidumap" class="iframe" href="http://api.map.baidu.com/lbsapi/getpoint/index.html">这里</a>
			                </div>
			               
                        </div>  
                        <script  type="text/javascript">
                         
                        if(!typeof($)=='undefined'){
                        	 $("a#baidumap").fancybox({
                             	'width'				: '75%',
                 				'height'			: '80%',
                 				'autoScale'			: false,
                 				'transitionIn'		: 'elastic',
                 				'transitionOut'		: 'elastic',
                 				 'enableEscapeButton':true,
                 				 'title':'提示：坐标中逗号前面一个数字是经度，逗号后面一个数字是纬度',
                 				 'titleShow': true,
                 				 'titlePosition':'outside',
                 				 'speedOut':600,
                 				 'overlayColor': 	'#333',
                 				'type'				: 'iframe'
                         	});
                        	
                        }
                       
            			 
                        </script>
           
                       <div class="form-group">
			                <label class="col-lg-2 control-label">经度</label>
			                <div class="col-lg-3">
			                    <input type="text" class="form-control" required ng-model="key.clinicLongitude" ng-maxlength="20" ng-trim   />
			                </div>
			             
                            <label class="col-lg-2 control-label">纬度</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"  ng-model="key.clinicLatitude" ng-maxlength="20" ng-trim maxlength="20" />
                            </div>
                          
                             
                        </div>
                       <div class="form-group">
			                <label class="col-lg-2 control-label">主治</label>
			                <div class="col-lg-9">
			                    <input type="text" class="form-control"  ng-model="key.clinicSpeciality"  />
			                </div>
                        </div>  
                         
               
						   <div class="form-group">                                  
				               <label class="col-lg-2 control-label">诊所照片 </label>             
				                <div class="col-lg-4">                
					                    <div uploader  thumb ng-model="uploadProfilePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>  
				               <label class="col-lg-2 control-label">诊所执照</label>             
				                <div class="col-lg-3">                
					                    <div uploader  thumb ng-model="uploadCertificatePic"
					                         server="upload.shtml"
					                         extensions="jpg,gif,png,jpeg"  
					                         files="files">
					                    </div>	         
				                </div>                         
				           </div>
				           
				        <div class="form-group">
                            <label class="col-lg-2 control-label">诊所介绍</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" rows="4"  ng-model="key.clinicDesc"  data-valid-pos="bottom" ></textarea>
                            </div>
                        </div>
				      
	                    </div>
	                </div>
	            </div>  
	            <div class="modal-footer">   
	              <button type="reset" class="btn btn-default">重置</button>
	              <button type="submit" class="btn btn-primary" > 保 存</button>
	              <button type="button" class="btn btn-default" data-dismiss="modal"  > 取消</button>
	            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	
	<!--对话框  -->
	<div class="modal fade dialog-msg" id="dialogMsg" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{dialogTitle || '公告'}}</h4>
				</div>
				<div class="modal-body">
					<pre class="no-pre">{{dialogMsg}}</pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<script src="base/es5-shim/es5-shim.min.js"></script>
	<script src="base/underscore/underscore.js"></script>
	<script src="base/jquery-1.10.1.min.js"></script>
	<script src="base/bootstrap/js/bootstrap.min.js"></script>
	<script src="base/jquery-migrate.min.js"></script>
    <script src="base/jquery.debouncedresize.min.js"></script>
    <script src="base/jquery-mousewheel/jquery.mousewheel.js"></script>
	<script
		src="base/bootstrap-datepicker/build/bootstrap-datepicker.min.js"></script>
	<script
		src="base/bootstrap-datepicker/build/locales/bootstrap-datepicker.zh-CN.min.js"></script>
	<!-- tooltips -->
	<script src="base/qtip2/jquery.qtip.min.js"></script>
	<!-- select2 -->
	<script src="base/bootstrap-select/bootstrap-select.min.js"></script>
	<!-- custom scrollbar -->
	<script src="base/zTree_v3/js/jquery.ztree.all-3.5.js"></script>
	<!-- echarts-map -->
	<script src="base/echarts-1.4.0/build/echarts-plain-map.js"></script>
	<script src="base/Highcharts-3.0.10/js/highcharts.js"></script>
	<script src="base/web-uploader/dist/webuploader.min.js"></script>
	<!-- my app -->
	<script src="base/angular-1.2.15/angular.js"></script>
	<script src="base/angular-1.2.15/angular-route.min.js"></script>
	<script src="base/angular-1.2.15/angular-resource.min.js"></script>
	<script src="base/angular-1.2.15/angular-cookies.min.js"></script>
	<script src="base/angular-1.2.15/angular-sanitize.min.js"></script>
	<script src="seajs/2.2.0/seajs/sea.js"></script>
	<script src="seajs/seajs-style/1.0.2/seajs-style.js"></script>
	<script src="application/config.js"></script>
	
	<script src='base/fullcalendar/moment.min.js'></script>
 
	<script src='base/fullcalendar/jquery-ui.custom.min.js'></script>
	<script src='base/fullcalendar/fullcalendar.js'></script>
	<script src='base/fullcalendar/lang-all.js'></script>

    <script type="text/javascript" src="base/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="base/fancybox/jquery.easing-1.3.pack.js"></script>

    <script type="text/javascript" src="base/clockpicker/bootstrap-clockpicker.min.js"></script>
    
	<script>
        seajs.use('initialize');//初始化
    </script>
</body>
</html>