<div class="col-sm-12 col-md-12">

    <div class="row">
        <div class="col-sm-4 col-md-4" style="overflow-x: auto;border-right: 1px solid #003151;height: 450px;">
            <div class="ztree" data-ztree="zTreeApi" id="ztree" data-setting="settings" data-data="data"></div>
        </div>
        <div class="col-sm-8 col-md-8" ng-show="obj && !create">
            <form role="form" class="form-horizontal" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单ID</label>
                    <div class="col-lg-10">
                        <p class="form-control-static">{{obj.id}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单名称</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="obj.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">父级菜单</label>
                    <div class="col-lg-10">
                        <p class="form-control-static">{{parent.name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">控制器</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="obj.action"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单视图</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="obj.template"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单描述</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="obj.desc"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button class="btn btn-default" ng-click="edit('sibling')">添加同级</button>
                        <button class="btn btn-default" ng-click="edit('child')">添加下级</button>
                        <button class="btn btn-default" ng-click="edit('edit')">修改</button>
                        <button class="btn btn-default">删除</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-8 col-md-8" ng-show="create">
            <form role="form" class="form-horizontal" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单名称</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="editObj.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">父级菜单</label>
                    <div class="col-lg-10">
                        <p class="form-control-static">{{parent.name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">控制器</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="editObj.action"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单视图</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="editObj.template"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">菜单描述</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="editObj.desc"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <button class="btn btn-default" ng-click="save()">保存</button>
                        <button class="btn btn-default" ng-click="save()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>